{# 文章列表模板 #}

{% extends 'tp/base.html' %}
{% load static %}
{% load blog_tags %}
{% load gallery_tags %}
{% load humanize %}

{% comment %}
    传递进来的参数context:
        'query': self.query,  # 搜索的关键字
        'form': self.form,
        'page': page,
        'paginator': paginator,
        'suggestion': None,
{% endcomment %}


{% block container %}

{# search head #}
<section class="inner-page-banner bg-common">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Search</h1>
                    <form action="{% url 'app_blog:haystack_search' %}" method="GET">
                        <input type="text" name="q" value="{{query|default:''}}" placeholder="search...">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <ul>
                        <li><a href="/"><i class="fas fa-home"></i></a></li>
                        <li>{{query}}: {{paginator.count}} 条结果</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{# 文章列表 #}
<section class="blog-wrap-layout17 article_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                {% spaceless %}
                {% for article in page.object_list %}
                <div class="blog-box-layout4" data-href="{{ article.object.get_absolute_url }}">
                    <div class="item-img">
                        <a href="{{ article.object.get_absolute_url }}" title="{{ article.object.title }}">
                            <img class="loading" data-src="https://picsum.photos/id/40{{forloop.counter}}/380/240">
                        </a>
                    </div>
                    <a class="article-meta__categories" href="{% url 'app_blog:category_detail' article.object.category.slug %}" title="文章分类">
                        <i class="fas fa-book"></i>
                        {{ article.object.category }}
                    </a>
                    <div class="item-content">
                        <ul class="entry-meta meta-color-dark">
                            <li><i class="fas fa-hashtag"></i>
                                {% with article.object.tags.all as tags%}
                                {% for tag in tags %}
                                <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}" title="{{ tag.name }}">{{ tag.name }}</a>
                                {% endfor %}
                                {% endwith %}
                            </li>
                            <li><i class="fas fa-calendar-alt"></i>{% format_time article.object.pub_time "%Y-%m-%d %H:%M" %}</li>
                            <li><i class="far fa-clock"></i>5分钟阅读</li>
                        </ul>
                        <h3 class="item-title">
                            <a href="{{ article.object.get_absolute_url }}" title="{{ article.object.title }}">{{ article.object.title }}</a>
                        </h3>
                        <p>{{ article.object.summary }}</p>
                        <div class="action-area">
                            <div class="eye-container item-btn">
                                <div class="eye"></div>
                                <div class="eye"></div>
                            </div>
                            <ul class="response-area">
                                <li>
                                    <a href="#3" data-rr="666" title="热度 {{ article.object.views }}">
                                        <i class="fas fa-thermometer-full"></i>
                                        {{ article.object.views }}
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="点赞数 {{ article.object.users_like.count }}"><
                                        i class="far fa-heart"></i>
                                        {{ article.object.users_like.count }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ article.object.get_absolute_url }}#comment" title="{{ article.object.visible_comments_count }} 条评论">
                                        <i class="far fa-comment"></i>
                                        {{ article.object.visible_comments_count }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% empty %}
                <span style="text-align: center;display: block;">搜索结果为空</span>
                {% endfor %}
                {% endspaceless %}

                {# 分页 #}
                {% include 'tp/分页.html' with page_obj=page keyword=query %}
            </div>


            {# 侧边栏 #}
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">

            {# 关于我 #}
            {% include 'tp/侧边组件/侧边_关于我.html' with page_obj=page_obj %}

            {% recommendations_articles 5 '侧边_推荐文章' %}

            {% comment %}
            {# 关注我 #}
            {% include 'tp/侧边组件/侧边_关注我.html' with page_obj=page_obj %}
            {% endcomment %}
            
            {# 文章分类 #}
            {% include 'tp/侧边组件/侧边_分类目录.html' with page_obj=page_obj %}

            {# 标签云 #}
            {% include 'tp/侧边组件/侧边_标签云.html' %}

            {# 相册展示 #}
            {% include 'tp/侧边组件/侧边_相册展示.html' with page_obj=page_obj %}

            {# 发送反馈 #}
            {% include 'tp/侧边组件/侧边_发送反馈.html' with page_obj=page_obj %}

            {% if SHOW_GOOGLE_ADSENSE %}
            {# 广告 #}
            {% include 'tp/侧边组件/侧边_广告.html' with page_obj=page_obj %}
            {% endif %}


            {% comment %}
            {# 大轮播图 #}
            {% include 'tp/侧边组件/侧边_大轮播图.html' with page_obj=page_obj %}
            {% endcomment %}


            </div>

        </div>
    </div>
</section>

{% endblock container %}