<!-- 文章列表模板 -->

{% extends 'tp/base.html' %}
{% load static %}
{% load blog_tags %}
{% load gallery_tags %}
{% load humanize %}




{% block container %}

<!-- 顶部滚动文章 -->
{% recommendations_articles 5 '滚动' %}

<!-- 文章列表 -->
<section class="blog-wrap-layout17 article_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% static 'st/img/financial_fail (1).png' as default_img %}

                {% url 'app_gallery:get_random_background' 220 150 as the_url %}
                {% spaceless %}
                {% for article in article_list %}
                <div class="blog-box-layout4">
                    <div class="item-img">
                        
                        <a href="{{ article.get_absolute_url }}" title="{{ article.title }}">
                            <img class="loading" onerror="this.onerror=null,this.src='{{default_img}}'" data-src="https://picsum.photos/id/10{{forloop.counter}}/380/240">
                        </a>
                    </div>
                    <a class="article-meta__categories" href="{% url 'app_blog:category_detail' article.category.slug %}" title="文章分类"><i class="far fa-newspaper"></i> {{ article.category }}</a>
                    <div class="item-content">
                        <ul class="entry-meta meta-color-dark">
                            <li><i class="fas fa-tag"></i>
                                {% with article.tags.all as tags%}
                                {% for tag in tags %}
                                <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                                {% endfor %}
                                {% endwith %}
                            </li>
                            <li><i class="fas fa-calendar-alt"></i>{% format_time article.pub_time "%Y-%m-%d %H:%M" %}</li>
                            <li><i class="far fa-clock"></i>5分钟阅读</li>
                        </ul>
                        <h3 class="item-title">
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            <i class="fas fa-arrow-right"></i>
                        </h3>
                        <p>{{ article.summary }}</p>
                        <div class="action-area">
                            <a href="{{ article.get_absolute_url }}" class="item-btn" style="display: none;">
                                READ MORE
                                <i class="fas fa-arrow-right"></i>
                            </a>
                            <ul class="response-area">
                                <li><a href="javascript:void(0)" title="热度 {{ article.views }}"><i class="fas fa-thermometer-full"></i>{{ article.views }}</a></li>
                                <li><a href="javascript:void(0)" title="点赞数 {{ article.users_like.count }}"><i class="far fa-heart"></i>{{ article.users_like.count }}</a></li>
                                <li><a href="{{ article.get_absolute_url }}#comment" title="article.comments.count }} 条评论"><i class="far fa-comment"></i>{{ article.comments.count }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% empty %}
                暂无文章
                {% endfor %}
                {% endspaceless %}

                <!-- 页码 -->
                {% include 'tp/分页.html' with page_obj=page_obj %}

            </div>

            <!-- 侧边栏 -->
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
            {% recommendations_articles 5 '侧边_推荐文章' %}
            {% include 'tp/侧边组件.html' with page_obj=page_obj %}
            </div>

        </div>
    </div>
</section>

{% endblock container %}