
{% extends 'tp/base.html' %}
{% load static %}
{% load blog_tags %}

{# 参数: article #}


{# 网页标题 #}
{% block title %}{{ article.title }}{% endblock title %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'app_blog/css/pre_codehilite.css' %}">
<!-- markdown -->
<link rel="stylesheet" href="{% static 'mdeditor/css/editormd.css' %}"/>
{% endblock css_extra %}

{% block container %}

<!-- 博客容器 Single Blog Banner Start Here -->
<section class="single-blog-wrap-layout1">

    <!-- 顶部大图 -->
    <div class="single-blog-banner-layout1">
        <!-- Img -->
        <div class="banner-img">
            <img src="https://picsum.photos/id/1010/1920/700" alt="{{ article.title}}">
        </div>
        <!-- Title Meta -->
        <div class="banner-content">
            <div class="container">
                <ul class="entry-meta meta-color-light2">
                    <li><i class="fas fa-tag"></i>
                        {% with article.tags.all as tags%}
                        {% for tag in tags %}
                        <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                        {% endfor %}
                        {% endwith %}
                    </li>
                    <li><i class="fas fa-calendar-alt"></i>{% format_time article.pub_time "%Y-%m-%d %H:%M" %}</li>
                    <li><i class="far fa-clock"></i>5分钟阅读</li>
                </ul>
                <h2 class="item-title">{{ article.title }}</h2>
                <ul class="item-social">
                    <li><a href="#" class="load-more"><i class="fas fa-plus"></i>MORE</a></li>
                    <!-- superuser -->
                    {% if request.user == article.author or request.user.is_superuser %}
                    <li>
                        <a class="load-more" href="{{ article.get_admin_url }}">
                            <i class="glyphicon glyphicon-pencil"></i>admin中编辑
                        </a>
                    </li>
                    <li>
                        <a class="load-more" href="{{ article.get_xadmin_url }}">
                            <i class="glyphicon glyphicon-pencil"></i>Xadmin中编辑
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="response-area">
                    <li>
                        <a href="javascript:void(0)" title="热度 {{ article.views }}">
                            <i class="fas fa-thermometer-full"></i>{{ article.views }}
                        </a>
                    </li>
                    <li>
                        {% with total_likes=article.users_like.count users_like=article.users_like.all %}
                        <a href="javascript:void(0)" data-id="{{ article.id }}" data-action="{% if request.user in users_like %}un{% endif %}like">
                            <i class="far fa-heart" style="{% if request.user in users_like %}color:red{% endif %}"></i>
                            {{ total_likes }}
                        </a>
                        {% endwith %}
                    </li>
                    <li>
                        <a href="#comment" title="article.comments.count }} 条评论">
                            <i class="far fa-comment"></i>{{ article.comments.count }}
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-share"></i>302</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 文章容器 -->
    <div class="container">
        <div class="row gutters-50">

            <!-- 文章 -->
            <div class="col-lg-8">
                <div class="single-blog-box-layout1">
                    <!-- 文章主体 -->
                    <div class="markdown-body">
                        {{article.body|safe}}
                    </div>

                    <!------------------文章在此结束------------------>
                    <!-- 面包屑 点赞 -->
                    <div class="blog-entry-meta">
                        <ul>
                            <li>
                                <!-- 面包屑导航 -->
                                {% load_breadcrumb article %}
                            </li>
                            <li class="item-respons">
                                <!-- <i class="far fa-heart"></i>1,230 -->
                                {% with total_likes=article.users_like.count users_like=article.users_like.all %}
                                <a href="javascript:void(0)" data-id="{{ article.id }}" data-action="{% if request.user in users_like %}un{% endif %}like">
                                    <i class="far fa-heart" style="{% if request.user in users_like %}color:red{% endif %}"></i>
                                    {{ total_likes }}
                                </a>
                                {% endwith %}
                            </li>
                        </ul>
                    </div>

                    <!-- 相似推荐 -->
                    {% similar_articles article 3 %}

                    <!-- 发表评论 -->
                    <div class="blog-form">
                        <div class="section-heading-4 heading-dark">
                            <h3 class="item-heading">评论</h3>
                        </div>
                        <form class="contact-form-box">
                            <div class="row gutters-15">
                                <div class="col-md-6 form-group">
                                    <input type="text" placeholder="Name*" class="form-control" name="first_name"
                                        data-error="Name field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" placeholder="E-mail*" class="form-control" name="email"
                                        data-error="E-mail field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <textarea placeholder="Write your comments ..." class="textarea form-control"
                                        name="message" rows="4" cols="20" data-error="Message field is required"
                                        required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group RL_layer">
                                    <button class="item-btn">发送</button>
                                </div>
                            </div>
                            <div class="form-response"></div>
                        </form>
                    </div>

                    <!-- 文章评论 -->
                    <div class="blog-comment">
                        <div class="media media-none--xs">
                            <img src="{% static 'st/img/blog/blog216.jpg' %}"  alt="Blog Comments" class="img-fluid media-img-auto">
                            <div class="media-body">
                                <h4 class="item-title">Jack Sparrow</h4>
                                <div class="item-subtitle">2 Mins Ago</div>
                                <p>Bmmy text of the printing and typesetting industryorem Ipsum
                                    has been the industry's standard dummy text ever since the</p>
                                <a href="#" class="item-btn">Reply</a>
                            </div>
                        </div>
                        <div class="media media-none--xs">
                            <img src="{% static 'st/img/blog/blog217.jpg' %}"  alt="Blog Comments" class="img-fluid media-img-auto">
                            <div class="media-body">
                                <h4 class="item-title">Dakcon Nitiya</h4>
                                <div class="item-subtitle">2 Mins Ago</div>
                                <p>Bmmy text of the printing and typesetting industryorem Ipsum has
                                    been the industry's standard dummy text ever since the</p>
                                <a href="#" class="item-btn">Reply</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- 侧边栏 -->
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">

                <!-- 关于我 -->
                {% include 'tp/侧边组件/侧边_关于我.html' with page_obj=page_obj %}

                <!-- 文章目录 -->
                {% include 'tp/侧边组件/侧边_文章目录.html' with article=article %}

                <!-- 推荐文章 -->
                {% recommendations_articles 5 '侧边_推荐文章' %}

                <!-- 关于我 -->
                {% include 'tp/侧边组件/侧边_关于我.html' with page_obj=page_obj %}

                <!-- 广告 -->
                {% include 'tp/侧边组件/侧边_广告.html' with page_obj=page_obj %}

            </div>

        </div>
    </div>

</section>
<!-- 博客容器 Single Blog Banner End Here -->

{% endblock container %}


<!-- js -->
{% block script %}
<!-- 固定侧边widget -->
<script src="{% static 'st/js/sticksy.min.js' %}"></script>

<script>
    var stickyEl = $('.widget.is-sticky').sticksy({
        topSpacing: 70, // 距离顶部的距离
        listen: true,   // 侦听容器中的DOM更改
    });     
</script>
{% endblock script %}