
{% extends 'tp/base.html' %}
{% load static %}
{% load blog_tags %}

{# 参数: article #}


{# 网页标题 #}
{% block title %}{{ article.title }}{% endblock title %}


{% block container %}

<!-- 博客容器 Single Blog Banner Start Here -->
<section class="single-blog-wrap-layout1">
    <!-- 顶部大图 -->
    <div class="single-blog-banner-layout1">
        <div class="banner-img">
            <img src="https://picsum.photos/id/1010/1920/700" alt="{{ article.title}}">
        </div>
        <div class="banner-content">
            <div class="container">
                <ul class="entry-meta meta-color-light2">
                    <li><i class="fas fa-tag"></i>
                        {% with article.tags.all as tags%}
                        {% for tag in tags %}
                        <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                        {% endfor %}
                        {% endwith %}
                    </li>
                    <li><i class="fas fa-calendar-alt"></i>{% format_time article.pub_time "%Y-%m-%d %H:%M" %}</li>
                    <li><i class="far fa-clock"></i>5分钟阅读</li>
                </ul>
                <h2 class="item-title">{{ article.title }}</h2>
                <ul class="item-social">
                    <li><a href="#" class="load-more"><i class="fas fa-plus"></i>MORE</a></li>
                    <!-- superuser -->
                    {% if request.user == article.author or request.user.is_superuser %}
                    <li>
                        <a class="facebook" href="{% url 'app_admin:update_article' article.id article.slug %}">
                            <i class="far fa-edit"></i>修改
                        </a>
                    </li>
                    <li>
                        <a class="load-more" href="{{ article.get_admin_url }}">
                            <i class="glyphicon glyphicon-pencil"></i>admin中编辑
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="response-area">
                    <li>
                        <a href="javascript:void(0)" title="热度 {{ article.views }}">
                            <i class="fas fa-thermometer-full"></i>{{ article.views }}
                        </a>
                    </li>
                    <li>
                        {% with total_likes=article.users_like.count users_like=article.users_like.all %}
                        <a href="javascript:void(0)" data-id="{{ article.id }}" data-action="{% if request.user in users_like %}un{% endif %}like">
                            <i class="far fa-heart" style="{% if request.user in users_like %}color:red{% else %}color:white{% endif %}"></i>
                            {{ total_likes }}
                        </a>
                        {% endwith %}
                    </li>
                    <li>
                        <a href="#comment" title="article.comments.count }} 条评论">
                            <i class="far fa-comment"></i>{{ article.comments.count }}
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-share"></i>302</a>
                    </li>
                </ul>
                {% load_breadcrumb article %}
                
            </div>
        </div>
    </div>

    <!-- 文章容器 -->
    <div class="container">
        <div class="row gutters-50">

            <!-- 文章 -->
            <div class="col-lg-8">
                <div class="single-blog-box-layout1">
                    <!-- 文章主体 -->
                    <div class="blog-details">

                        <p>Borem ipsum dolor sit amet, adhuc iriure dissentias est in, est
                            ne diam graece tincidunt. Sit et liber minimum tacimates, sea no
                            doctus fastidii.An molestiae definiebas mel. Quo everti vituperata
                            et, quo cu omnis maiorum.soluta fierentlaboramus eum.Nam at dicant
                            deterruisset.
                        </p>

                        <blockquote>Borem ipsum dolor sit amet, adhuc iriure dissentias est in,
                            est ne diam graece tincidunt. Sit et liber minimum tacimates, sea no docAas
                            mela mine.
                            <span class="qoute-subtitle">STEVEN WILLY</span>
                        </blockquote>

                        <p>Equidem impedit officiis quo te. Illud partem sententiae mel eu, euripidis
                            urbanitas et sit. Mediocrem reprimique an vim, veniam tibique omittantur
                            duo ut, agam graeci in vim. Quot appetere patrioque te mea, animal aliquip
                            te pri. Ad vis animal ceteros percipitur, eos tollit civibus percipitur no.
                            Posse definiebas dissentiunt mel ea, nam ferri utroque invenire an. Ius te
                            iuvaret offendit pertinax, his verear deseruisse ex. Illud elitr eam eu. Id usu
                            putant commune, stet primis expetenda cu vel. Mea ipsum homero apeirian te.
                            Accumsan similique instructior ad pro, te purto dicit qui. Qui ex putent suavitate
                            adolescens, his possim tamquam fuisset.
                        </p>

                        <div class="row gutters-20">
                            <div class="col-sm-6 col-12">
                                <div class="single-img">
                                    <img src="img/blog/blog209.jpg" alt="blog">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="single-img">
                                    <img src="img/blog/blog210.jpg" alt="blog">
                                </div>
                            </div>
                        </div>

                        <p>Equidem impedit officiis quo te. Illud partem sententiae mel eu,
                            euripidis urbanitas et sit. Mediocrem reprimique an vim, veniam
                            tibique omittantur duo ut, agam graeci in vim. Quot appetere patrioque
                            te mea, animal aliquip te pri. Ad vis animal ceteros percipitur,
                            eos tollit civibus percipitur no
                        </p>
                        
                        <div class="more-info">
                            <h2 class="item-title">Discover Travel Innovation 2019</h2>
                            <p>Aeuidem impedit officiis quo te. Illud partem sententiae mel eu,
                                euripidis urbanitas et sit. Mediocrem reprimique an vim, veniam tibique
                                omittantur duo ut, agam graeci in vim. Quot appetere patrioque te mea,
                                animal aliquip te pri. Ad vis animal ceteros percipitur, eos tollit civibus
                                percipitur.
                            </p>
                            <ol class="info-list">
                                <li>The feedback provided by a system is not very informative. It’s not clear
                                    how a system
                                    request or what exactly happens with the information.</li>
                                <li>The feedback provided by a system is not very informative. It’s not clear
                                    how a system
                                    request or what exactly happens with the information.</li>
                                <li>The feedback provided by a system is not very informative. It’s not clear
                                    how a system
                                    request or what exactly happens with the information.</li>
                            </ol>
                            <p>Muidem impedit officiis quo te. Illud partem sententiae mel eu, euripidis
                                urbanitas et sit.
                                Mediocrem reprimique an vim, veniam tibique omittantur duo ut, agam graeci in
                                vim.
                            </p>
                        </div>
                        <div class="single-slider">
                            <div class="rc-carousel nav-control-layout9" data-loop="true" data-items="30"
                                data-margin="20" data-autoplay="false" data-autoplay-timeout="5000"
                                data-smart-speed="700" data-dots="false" data-nav="true" data-nav-speed="false"
                                data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false"
                                data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false"
                                data-r-small="1" data-r-small-nav="true" data-r-small-dots="false"
                                data-r-medium="1" data-r-medium-nav="true" data-r-medium-dots="false"
                                data-r-large="1" data-r-large-nav="true" data-r-large-dots="false"
                                data-r-extra-large="1" data-r-extra-large-nav="true" data-r-extra-large-dots="false">
                                <div class="single-slider-box">
                                    <div class="item-img">
                                        <img src="img/blog/blog211.jpg" alt="slider">
                                    </div>
                                </div>
                                <div class="single-slider-box">
                                    <div class="item-img">
                                        <img src="img/blog/blog211.jpg" alt="slider">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more-info">
                            <h2 class="item-title">Discover Travel Innovation 2019</h2>
                            <p>Equidem impedit officiis quo te. Illud partem sententiae mel eu,
                                euripidis urbanitas et sit. Mediocrem reprimique an vim, veniam
                                tibique omittantur duo ut, agam graeci in vim. Quot appetere
                                patrioque te mea, animal aliquip te pri. Ad vis animal ceteros
                                percipitur, eos tollit civibus percipitur noLorem ipsum proin
                                gravida nibh vel velit auctor aliquet. Aenean sollicitudin,
                                lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                                sem nibh id elit.Duis sed odio sit amet nibh vulputate cursus a
                                sit amet mauris.
                            </p>
                        </div>
                    </div>

                    <!-- 文章元信息 -->
                    <div class="blog-entry-meta">
                        <ul>
                            <li class="item-tag"><i class="fas fa-bookmark"></i>
                                <a href="#">explore,</a>
                                <a href="#">travel,</a>
                                <a href="#">vacation,</a>
                            </li>
                            <li class="item-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li class="item-respons"><i class="fas fa-heart"></i>1,230</li>
                        </ul>
                    </div>

                    <!-- 相关推荐  -->
                    <div class="related-item">
                        <div class="section-heading-4 heading-dark">
                            <h3 class="item-heading">相关推荐</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-12">
                                <div class="blog-box-layout1 text-left">
                                    <div class="item-img">
                                        <a href="single-blog.html"><img src="img/blog/blog213.jpg" alt="blog"></a>
                                    </div>
                                    <div class="item-content">
                                        <ul class="entry-meta meta-color-dark">
                                            <li><i class="fas fa-tag"></i>Fashion</li>
                                            <li><i class="fas fa-calendar-alt"></i>October 19, 2019</li>
                                        </ul>
                                        <h5 class="item-title"><a href="single-blog.html">How an Island Formsn
                                                River
                                                And Stones</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-12">
                                <div class="blog-box-layout1 text-left">
                                    <div class="item-img">
                                        <a href="single-blog.html"><img src="img/blog/blog214.jpg" alt="blog"></a>
                                    </div>
                                    <div class="item-content">
                                        <ul class="entry-meta meta-color-dark">
                                            <li><i class="fas fa-tag"></i>Fashion</li>
                                            <li><i class="fas fa-calendar-alt"></i>October 19, 2019</li>
                                        </ul>
                                        <h5 class="item-title"><a href="single-blog.html">How an Island Formsn
                                                River
                                                And Stones</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-12">
                                <div class="blog-box-layout1 text-left">
                                    <div class="item-img">
                                        <a href="single-blog.html"><img src="img/blog/blog215.jpg" alt="blog"></a>
                                    </div>
                                    <div class="item-content">
                                        <ul class="entry-meta meta-color-dark">
                                            <li><i class="fas fa-tag"></i>Fashion</li>
                                            <li><i class="fas fa-calendar-alt"></i>October 19, 2019</li>
                                        </ul>
                                        <h5 class="item-title"><a href="single-blog.html">How an Island Formsn
                                                River
                                                And Stones</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 发表评论 -->
                    <div class="blog-form">
                        <div class="section-heading-4 heading-dark">
                            <h3 class="item-heading">评论</h3>
                        </div>
                        <form class="contact-form-box">
                            <div class="row gutters-15">
                                <div class="col-md-6 form-group">
                                    <input type="text" placeholder="Name*" class="form-control" name="first_name"
                                        data-error="Name field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" placeholder="E-mail*" class="form-control" name="email"
                                        data-error="E-mail field is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group">
                                    <textarea placeholder="Write your comments ..." class="textarea form-control"
                                        name="message" rows="4" cols="20" data-error="Message field is required"
                                        required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="col-12 form-group RL_layer">
                                    <button class="item-btn">发送</button>
                                </div>
                            </div>
                            <div class="form-response"></div>
                        </form>
                    </div>

                    <!-- 文章评论 -->
                    <div class="blog-comment">
                        <div class="media media-none--xs">
                            <img src="img/blog/blog216.jpg" alt="Blog Comments" class="img-fluid media-img-auto">
                            <div class="media-body">
                                <h4 class="item-title">Jack Sparrow</h4>
                                <div class="item-subtitle">2 Mins Ago</div>
                                <p>Bmmy text of the printing and typesetting industryorem Ipsum
                                    has been the industry's standard dummy text ever since the</p>
                                <a href="#" class="item-btn">Reply</a>
                            </div>
                        </div>
                        <div class="media media-none--xs">
                            <img src="img/blog/blog217.jpg" alt="Blog Comments" class="img-fluid media-img-auto">
                            <div class="media-body">
                                <h4 class="item-title">Dakcon Nitiya</h4>
                                <div class="item-subtitle">2 Mins Ago</div>
                                <p>Bmmy text of the printing and typesetting industryorem Ipsum has
                                    been the industry's standard dummy text ever since the</p>
                                <a href="#" class="item-btn">Reply</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 侧边栏 -->
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">

                <!-- 文章目录 -->
                {% include 'tp/侧边组件/侧边_文章目录.html' with page_obj=page_obj %}

                <!-- 推荐文章 -->
                {% recommendations_articles 5 '侧边_推荐文章' %}

                <!-- 关于我 -->
                {% include 'tp/侧边组件/侧边_关于我.html' with page_obj=page_obj %}

                <!-- 广告 -->
                {% include 'tp/侧边组件/侧边_广告.html' with page_obj=page_obj %}

            </div>

        </div>
    </div>

</section>
<!-- 博客容器 Single Blog Banner End Here -->

{% endblock container %}