{% extends 'tp/base.html' %}
{% load static %}
{% load blog_tags %}

{% block container %}

<link rel="stylesheet" href="{% static 'st/css/component.css' %}">


<section class="blog-wrap-layout17 diary_wrap">
    <div class="container">
        <header class="clearfix">
            <span>Carlos's</span>
            <h1>Diary</h1>
            {% if request.user.is_superuser %}
            <a href="{{diary_xadmin}}" class="btn btn-dark" style="float: right;">Xadmin</a>
            {% endif %}
        </header>
        <div class="row">
            <div class="col-lg-8">
                <div class="main">
                    <ul class="cbp_tmtimeline" id="diary_list">
                        {% for diary in diaries %}
                        <li>
                            {% with date=diary.created %}
                            <time class="cbp_tmtime" datetime="{{date}}">
                                <span>{{date|date:"Y/m/d"}}</span>
                                <span>{{date|date:"H:i"}}</span>
                            </time>
                            {% endwith %}
                            <div class="cbp_tmicon" data-info='😃' data-mood='{{diary.mood}}'></div>
                            <div class="cbp_tmlabel">
                                <p>{{diary.body}}</p>
                                {% if diary.img%}
                                <img data-src="{{diary.img.url}}" alt="配图">
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div id='diary_list_bottom' class="preloader mini-preloader">
                        <div class="loader">
                            <div class="line line1"></div>
                            <div class="line line2"></div>
                            <div class="line line3"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 侧边栏 -->
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                {% recommendations_articles 5 '侧边_推荐文章' %}

                <!-- 关于我 -->
                {% include 'tp/侧边组件/侧边_关于我.html' with page_obj=page_obj %}

                <!-- 关注我 -->
                {% include 'tp/侧边组件/侧边_关注我.html' with page_obj=page_obj %}

                <!-- 文章分类 -->
                {% include 'tp/侧边组件/侧边_分类目录.html' with page_obj=page_obj %}

                <!-- 发送反馈 -->
                {% include 'tp/侧边组件/侧边_发送反馈.html' with page_obj=page_obj %}

                <!-- 广告 -->
                {% include 'tp/侧边组件/侧边_广告.html' with page_obj=page_obj %}

                <!-- 相册展示 -->
                {% include 'tp/侧边组件/侧边_相册展示.html' with page_obj=page_obj %}

                <!-- 大轮播图 -->
                {% include 'tp/侧边组件/侧边_大轮播图.html' with page_obj=page_obj %}
            </div>
        </div>
    </div>
</section>


{% endblock container %}


{% block script %}
<script>
    $(function () {
        var page = 1,
            empty_page = false,
            block_request = false;

        // 更改地址栏URI而不刷新页面
        function changeURLStatic(name, value) {
            var url = location.href;
            var reg = eval('/([\?|&]'+name+'=)[^&]*/gi');
            value = value.toString().replace(/(^\s*)|(\s*$)/g,"");  //移除首尾空格
            if(!value){
                var url2 = url.replace(reg , '');  //正则替换
            }else{
                if(url.match(reg)){
                    var url2 = url.replace(reg , '$1' + value);  //正则替换
                }else{
                    var url2 = url + (url.indexOf('?') > -1 ? '&' : '?') + name + '=' +value;  //没有参数添加参数
                }
            }
            history.replaceState(null,null, url2);  //替换地址栏
        };

        $(window).on('scroll', function () {
            var tt = $('.cbp_tmtime');
            tt.each(function (index, element) {
                let $ele = $(element);
                if (element.getBoundingClientRect().top < 70) {
                    $ele.addClass('sticky');
                } else {
                    $ele.removeClass('sticky');
                }
            });

            var diary_list_bottom = document.getElementById('diary_list_bottom');
            if (diary_list_bottom.getBoundingClientRect().top - window.innerHeight <= 100 && empty_page == false && block_request == false) {
                block_request = true;
                page += 1;
                $.get('?page=' + page, function (data) {
                    // {status: 200, current_page: 2, has_next: false, page_total: 2, items_count: 11, data: Array(...) }
                    if (data.status == '200') {

                        if (!data.has_next) {
                            empty_page = true;
                            $('#diary_list_bottom').html('END');
                        }
                        page = data.current_page;
                        let diary_list = data.data;
                        if (diary_list && diary_list.length > 0) {

                            diary_list.forEach(d => {
                                [_, date, time] = d.created.match(/(\d+-\d+-\d+)T(\d+:\d+)/);
                                let diary = `
                                <li style="opacity:0"><time class="cbp_tmtime" datetime="${d.created}"><span>${date}</span><span>${time.replace(/:\d+\.\d+/, '')}</span></time>
                                <div class="cbp_tmicon" data-info='😎' data-mood='${d.mood}'></div>
                                <div class="cbp_tmlabel"><p>${d.body}</p>${d.img ? '<img data-src="' + d.img + '" alt="配图">' : ''}</div></li>
                                `;
                                let $diary = $(diary);
                                $('#diary_list').append($diary);
                                $diary.animate({opacity: 1}, 500);
                            });
                        } else {
                            empty_page = true;
                            $('#diary_list_bottom').html('END');
                        };
                        block_request = false;
                    }
                    else {
                        empty_page = true;
                        $('#diary_list_bottom').html('END');
                    }
                });
            }
        });
    })

</script>

{% endblock script %}