<!-- 大轮播图 -->
{% load static %}


<div class="widget">
    <div class="section-heading heading-dark text_uppercase">
        <h3 class="item-heading">featured article</h3>
    </div>
    <div class="widget-featured-feed">
        <div class="rc-carousel dot-control-layout1" data-loop="true" data-items="3"
            data-margin="5" data-autoplay="false" data-autoplay-timeout="5000"
            data-smart-speed="1000" data-dots="true" data-nav="false" data-nav-speed="false"
            data-r-x-small="1" data-r-x-small-nav="false" data-r-x-small-dots="true"
            data-r-x-medium="1" data-r-x-medium-nav="false" data-r-x-medium-dots="true"
            data-r-small="1" data-r-small-nav="false" data-r-small-dots="true" data-r-medium="1"
            data-r-medium-nav="false" data-r-medium-dots="true" data-r-large="1"
            data-r-large-nav="false" data-r-large-dots="true" data-r-extra-large="1"
            data-r-extra-large-nav="false" data-r-extra-large-dots="true">
            <div class="featured-box-layout1">
                <div class="item-img">
                    <img src="{% static 'st/img/blog/blog16.jpg' %}" alt="Brand" class="img-fluid">
                </div>
                <div class="item-content">
                    <span class="post-date">OCTOBER 19, 2018</span>
                    <h5 class="item-title"><a href="single-blog.html">Dreamy Places will
                            Never Get to Visit</a></h5>
                </div>
            </div>
            <div class="featured-box-layout1">
                <div class="item-img">
                    <img src="{% static 'st/img/blog/blog17.jpg' %}" alt="Brand" class="img-fluid">
                </div>
                <div class="item-content">
                    <span class="post-date">OCTOBER 19, 2018</span>
                    <h5 class="item-title"><a href="single-blog.html">Dreamy Places will
                            Never Get to Visit</a></h5>
                </div>
            </div>
            <div class="featured-box-layout1">
                <div class="item-img">
                    <img src="{% static 'st/img/blog/blog16.jpg' %}" alt="Brand" class="img-fluid">
                </div>
                <div class="item-content">
                    <span class="post-date">OCTOBER 19, 2018</span>
                    <h5 class="item-title"><a href="single-blog.html">Dreamy Places will
                            Never Get to Visit</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>