<!-- 侧边--文章目录 -->


<div class="widget">
    <div class="section-heading heading-dark text_uppercase">
        <h3 class="item-heading">目录</h3>
    </div>
    <div class="widget-categories">
        <ul>
            <li>
                <a href="#">Beauty
                    <span>(35)</span>
                </a>
            </li>
            <li>
                <a href="#">Fashion
                    <span>(10)</span>
                </a>
            </li>
            <li>
                <a href="#">Food
                    <span>(25)</span>
                </a>
            </li>
            <li>
                <a href="#">Life Style
                    <span>(15)</span>
                </a>
            </li>
            <li>
                <a href="#">Travel
                    <span>(22)</span>
                </a>
            </li>
            <li>
                <a href="#">Video
                    <span>(18)</span>
                </a>
            </li>
            <li>
                <a href="#">Technology
                    <span>(22)</span>
                </a>
            </li>
        </ul>
    </div>
</div>
