{% load blog_tags %}

<!-- 侧边--分类目录 -->


<div class="widget">
    <div class="section-heading heading-dark text_uppercase">
        <h3 class="item-heading">文章分类</h3>
    </div>
    <div class="widget-categories">
        <ul>
            {% b_category as categorise %}
            {% for category in categorise %}
            <li>
                <a href="{{category.get_absolute_url}}">{{category.name}}
                    <span>({{category.blog_count}})</span>
                </a>
            </li>
            {% endfor %}
        </ul>  
    </div>
</div>
