{% load static %}

{% load user_tags %}


<!-- 关于我 -->
{% get_user username='891953720' as me %}

{% spaceless %}
<div class="widget">
    <div class="widget-about">
        <h3 class="about-author-name">Hello, I'm Carlos
            <img class="about-author-img" src="{{ me.profile.photo.url }}" alt="">
        </h3>
        <p class="about-author-introduce">
            你他娘可真是个人才! {{ me.profile.introduction }}
        </p>
        <ul class="about-author-social">
            <li class="list-inline-item">
                <a class="" target="_blank" href="#">
                    <i class="fab fa-weixin"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="" target="_blank" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="" target="_blank" href="#">
                    <i class="fab fa-github-alt"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="" target="_blank" href="#">
                    <i class="fas fa-at"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endspaceless %}

