{% load static %}



<!-- 相册展示 -->
<div class="widget">
    <div class="section-heading heading-dark">
        <h3 class="item-heading">Photos</h3>
    </div>
    <div class="widget-instagram">
        <ul>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure47.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure48.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure49.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure50.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure51.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure52.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure53.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure54.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
            <li>
                <div class="item-box">
                    <img src="{% static 'st/img/social-figure/social-figure55.jpg' %}" alt="Social Figure" class="img-fluid">
                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>