{% load static %}
{% load user_tags %}

{# 关于我 #}


{% spaceless %}
{% get_user username='Carlos' as me %}
<div class="widget">
    <div class="widget-about">
        <h3 class="about-author-name">Hello, I'm Carlos
            {# 头像 #}
            {% if me.profile.photo %}
            <img src="{{ me.profile.photo.url }}" class="about-author-img rounded-circle" alt="{{me.username}}">
            {% else %}
            <img options="size=50x50&text={{me.username|first}}&fstyle=oblique&fweight=bold&fsize=40&ffamily=consolas" class="placeholder about-author-img rounded-circle" alt="{{me.username}}">
            {% endif %}
        </h3>
        <p class="about-author-introduce">
            洛斯卡! <br> {{ me.profile.introduction }} <br> {{SITE_DESCRIPTION}}
        </p>
        <ul class="about-author-social">
            <li class="list-inline-item">
                <a class="" target="_blank" href="#" title="微信">
                    <i class="fab fa-weixin"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="" target="_blank" href="#" title="twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="" target="_blank" href="#" title="github">
                    <i class="fab fa-github-alt"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="" target="_blank" href="#" title="邮箱">
                    <i class="fas fa-at"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endspaceless %}

