{% load static %}


{# 最受欢迎文章 #}

{% spaceless %}
<div class="widget">
    <div class="section-heading heading-dark text_uppercase">
        <h3 class="item-heading">popular posts</h3>
    </div>
    <div class="widget-latest">
        <ul class="block-list">
            {% for article in articles %}
            {% with uri=article.get_absolute_url %}
            <li class="single-item" data-href="{{ uri }}">
                <div class="item-img">
                    <a href="{{ uri }}" title="{{ article.title }}">
                        <img data-src="https://picsum.photos/id/10{{ forloop.counter|add:50 }}/100/80">
                    </a>
                </div>
                <div class="item-content">
                    <ul class="entry-meta meta-color-dark">
                        <li><i class="fas fa-hashtag"></i>
                            {% with article.tags.all as tags%}
                            {% for tag in tags %}
                            <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}" title="{{ tag.name }}">{{ tag.name }}</a>
                            {% endfor %}
                            {% endwith %}
                        </li>
                    </ul>
                    <h2 class="item-title">
                        <a href="{{ uri }}" title="{{ article.title }}">{{ article.title }}</a>
                    </h2>
                </div>
            </li>
            {% endwith %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endspaceless %}