pre { line-height: 125%; }
td.linenos pre { color: var(--global-color); padding: 0; background-color:var(--global-background);; } /* 行号 pre 容器 */
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #338b37; font-style: italic } /* 注释 */
.codehilite .err { border: 0px solid #FF0000 } /* 错误 */
.codehilite .k { color: #03A9F4; font-weight: bold } /* 关键词 */
.codehilite .o { color: var(--global--color) } /* Operator */
.codehilite .ch { color: #338b37; font-style: italic } /* 注释.Hashbang */
.codehilite .cm { color: #338b37; font-style: italic } /* 注释.多行 */
.codehilite .cp { color: #BC7A00 } /* 注释.Preproc */
.codehilite .cpf { color: #338b37; font-style: italic } /* 注释.PreprocFile */
.codehilite .c1 { color: #338b37; font-style: italic } /* 注释.单行 */
.codehilite .cs { color: #338b37; font-style: italic } /* 注释.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.错误 */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #03A9F4; font-weight: bold } /* 关键词.Constant */
.codehilite .kd { color: #AB4ABB; font-weight: bold } /* 关键词.Declaration */
.codehilite .kn { color: #AB4ABB; font-weight: bold } /* 关键词.Namespace */
.codehilite .kp { color: #AB4ABB } /* 关键词.Pseudo */
.codehilite .kr { color: #AB4ABB; font-weight: bold } /* 关键词.Reserved */
.codehilite .kt { color: #B00040 } /* 关键词.Type */
.codehilite .m { color: var(--global--color) } /* 文字.数字 */
.codehilite .s { color: #D67D0A } /* 文字.字符串 */
.codehilite .na { color: #7D9029 } /* 名字.Attribute */
.codehilite .nb { color: #AB4ABB } /* 名字.Builtin */
.codehilite .nc { color: #03A9F4; font-weight: bold } /* 名字.Class */
.codehilite .no { color: #880000 } /* 名字.Constant */
.codehilite .nd { color: #d3b100 } /* 装饰器 */
.codehilite .ni { color: #999999; font-weight: bold } /* 名字.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* 名字.Exception */
.codehilite .nf { color: #d3b100 } /* 名字.Function */
.codehilite .nl { color: #A0A000 } /* 名字.Label */
.codehilite .nn { color: #03A9F4; font-weight: bold } /* 名字.Namespace */
.codehilite .nt { color: #AB4ABB; font-weight: bold } /* 名字.Tag */
.codehilite .nv { color: #19177C } /* 名字.变量 */
.codehilite .ow { color: #03A9F4; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: var(--global--color) } /* 文字.数字.Bin */
.codehilite .mf { color: var(--global--color) } /* 文字.数字.Float */
.codehilite .mh { color: var(--global--color) } /* 文字.数字.Hex */
.codehilite .mi { color: var(--global--color) } /* 文字.数字.Integer */
.codehilite .mo { color: var(--global--color) } /* 文字.数字.Oct */
.codehilite .sa { color: #D67D0A } /* 文字.字符串.Affix */
.codehilite .sb { color: #D67D0A } /* 文字.字符串.Backtick */
.codehilite .sc { color: #D67D0A } /* 文字.字符串.Char */
.codehilite .dl { color: #D67D0A } /* 文字.字符串.Delimiter */
.codehilite .sd { color: #D67D0A; font-style: italic } /* 文字.字符串.Doc */
.codehilite .s2 { color: #D67D0A } /* 文字.字符串.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* 文字.字符串.Escape */
.codehilite .sh { color: #D67D0A } /* 文字.字符串.Heredoc */
.codehilite .si { color: #03A9F4; font-weight: bold } /* 文字.字符串.Interpol */
.codehilite .sx { color: #AB4ABB } /* 文字.字符串.Other */
.codehilite .sr { color: #03A9F4 } /* 文字.字符串.Regex */
.codehilite .s1 { color: #D67D0A } /* 文字.字符串.Single */
.codehilite .ss { color: #19177C } /* 文字.字符串.Symbol */
.codehilite .bp { color: #AB4ABB } /* 名字.Builtin.Pseudo */
.codehilite .fm { color: #03A9F4 } /* 名字.Function.Magic */
.codehilite .vc { color: #19177C } /* 名字.变量.Class */
.codehilite .vg { color: #19177C } /* 名字.变量.Global */
.codehilite .vi { color: #19177C } /* 名字.变量.Instance */
.codehilite .vm { color: var(--global--color) } /* 名字.变量.Magic */
.codehilite .il { color: var(--global--color) } /* 文字.数字.Integer.Long */
