{% load static %}


<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel='stylesheet' href="{% static 'css/pluginsCss.css' %}" />
    <link rel='stylesheet' href="{% static 'css/plugins.css' %}" />
    <link rel='stylesheet' href="{% static 'css/luckysheet.css' %}" />

    <script src="{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'js/luckysheet.umd.js' %}"></script>
</head>

<body>
    <!-- 初始加载动画 -->

    <div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:100%;left: 0px;top: 0px;">
    </div>

    <script>
        $(function () {
            //配置项
            var options = {
                container: 'luckysheet', // 设定DOM容器的id
                title: 'Luckysheet', // 设定表格名称
                lang: 'zh',  // 设定表格语言
            }
            // 初始化表格
            luckysheet.create(options)
        })
    </script>

</body>

</html>