
{% load static %}


<!doctype html>
<html lang="zh-CN">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>66</title>

    <link rel='stylesheet' href='{% static "app_sheet/plugins/css/pluginsCss.css" %}' />
    <link rel='stylesheet' href='{% static "app_sheet/plugins/plugins.css" %}' />
    <link rel='stylesheet' href='{% static "app_sheet/css/luckysheet.css" %}' />
    <link rel='stylesheet' href='{% static "app_sheet/assets/iconfont/iconfont.css" %}' />

    <script src='{% static "app_sheet/plugins/js/plugin.js" %}'></script>
    <script src='{% static "app_sheet/luckysheet.umd.js" %}'></script>
</head>

<body>
    <!-- 初始加载动画 -->

    <div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:100%;left: 0px;top: 0px;">
    </div>

    <script>
        $(function () {
            //配置项
            var options = {
                container: 'luckysheet', // 设定DOM容器的id
                title: 'Luckysheet', // 设定表格名称
                lang: 'zh',  // 设定表格语言
                color: '#fff',
                allowUpdate: true,  // 是否允许操作表格后的后台更新
                updateUrl: 'updata:8000',  // 操作表格后的后台更新地址
                userInfo: '666',  //     右上角的用户信息展示样式 

                userMenuItem: [  // 点击右上角的用户信息弹出的菜单
                    {url:"555", "icon":'<i class="fa fa-folder" aria-hidden="true"></i>', "name":"我的表格"}, 
                    {url:"666", "icon":'<i class="fa fa-sign-out" aria-hidden="true"></i>', "name":"退出登陆"}
                ],

                myFolderUrl: '777',  // 左上角<返回按钮的链接

                // 右上角功能按钮
                functionButton:  `
                <button id="" class="btn btn-primary" style="padding:3px 6px;font-size: 12px;margin-right: 10px;">下载</button> 
                <button id="" class="btn btn-primary btn-danger" style=" padding:3px 6px; font-size: 12px; margin-right: 10px;">分享</button> 
                <button id="luckysheet-share-btn-title" class="btn btn-primary btn-danger" style=" padding:3px 6px; font-size: 12px; margin-right: 10px;">秀数据</button>`,

				plugins: ['chart'],
				fontList:[
					{
					"fontName":"HanaleiFill",
					"url":'{% static "./assets/iconfont/HanaleiFill-Regular.ttf" %}'
					},
					{
					"fontName":"Anton",
					"url":'{% static "./assets/iconfont/Anton-Regular.ttf" %}'
					},
					{
					"fontName":"Pacifico",
					"url":'{% static "./assets/iconfont/Pacifico-Regular.ttf" %}'
					}
                ],

            }
            // 初始化表格
            luckysheet.create(options)
        })
    </script>

</body>

</html>