{# 文章列表模板 #}


{% load static %}
{% load blog_tags %}
{% load gallery_tags %}
{% load humanize %}


{% comment %}
    参数: 
        articles:   文章QuerySet对象
        page_obj:   分页对象
        keyword:    搜索关键字对象
{% endcomment %}


{# 文章列表 #}
<section class="blog-wrap-layout17 article_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                {% spaceless %}
                {% for article in articles %}
                {% with obj=article.object|default:article %}
                <div class="blog-box-layout4" data-href="{{ obj.get_absolute_url }}">
                    <div class="item-img">
                        <a href="{{ obj.get_absolute_url }}" title="{{ obj.title }}">
                            <img class="loading" data-src="https://picsum.photos/id/40{{forloop.counter}}/380/240">
                        </a>
                    </div>
                    <a class="article-meta__categories" href="{% url 'app_blog:category_detail' obj.category.slug %}" title="文章分类">
                        <i class="fas fa-book"></i> {{ obj.category }}
                    </a>
                    <div class="item-content">
                        <ul class="entry-meta meta-color-dark">
                            <li>
                                {% for tag in obj.tags.all %}
                                <a href="{{ tag.get_absolute_url }}" title="{{ tag.name }}"><i class="fas fa-hashtag"></i>{{ tag.name }}</a>
                                {% endfor %}
                            </li>
                            <li><i class="fas fa-calendar-alt"></i>{{ obj.pub_time|naturaltime }}</li>
                            <li><i class="far fa-clock"></i>50分钟阅读</li>
                        </ul>
                        <h3 class="item-title">
                            <a href="{{ obj.get_absolute_url }}" title="{{ obj.title }}">{{ obj.title }}</a>
                        </h3>
                        <p>{{ obj.summary }}</p>
                        <div class="action-area">
                            <div class="eye-container item-btn">
                                <div class="eye"></div>
                                <div class="eye"></div>
                            </div>
                            <ul class="response-area">
                                <li>
                                    <a href="#3" data-rr="666" title="热度 {{ obj.views }}">
                                        <i class="fas fa-thermometer-full"></i>
                                        {{ obj.views }}
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="点赞数 {{ obj.users_like.count }}">
                                        <i class="far fa-heart"></i>
                                        {{ obj.users_like.count }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ obj.get_absolute_url }}#comment" title="{{ obj.visible_comments_count }} 条评论">
                                        <i class="far fa-comment"></i>
                                        {{ obj.visible_comments_count }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% empty %}
                <span style="text-align: center;display: block;">暂无文章</span>
                {% endfor %}
                {% endspaceless %}

                {# 分页 #}
                {% include 'tp/组件/分页组件.html' with page=page_obj keyword=keyword %}

            </div>

            {# 侧边栏 #}
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">

            {# 关于我 #}
            {% include 'tp/侧边组件/侧边_关于我.html' with page_obj=page_obj %}

            {% recommendations_articles 5 '侧边_推荐文章' %}

            {% comment %}
            {# 关注我 #}
            {% include 'tp/侧边组件/侧边_关注我.html' with page_obj=page_obj %}
            {% endcomment %}
            
            {# 文章分类 #}
            {% include 'tp/侧边组件/侧边_分类目录.html' with page_obj=page_obj %}

            {# 标签云 #}
            {% include 'tp/侧边组件/侧边_标签云.html' %}

            {# 相册展示 #}
            {% include 'tp/侧边组件/侧边_相册展示.html' with page_obj=page_obj %}

            {# 发送反馈 #}
            {% include 'tp/侧边组件/侧边_发送反馈.html' with page_obj=page_obj %}

            {% if SHOW_GOOGLE_ADSENSE %}
            {# 广告 #}
            {% include 'tp/侧边组件/侧边_广告.html' with page_obj=page_obj %}
            {% endif %}


            {% comment %}
            {# 大轮播图 #}
            {% include 'tp/侧边组件/侧边_大轮播图.html' with page_obj=page_obj %}
            {% endcomment %}


            </div>

        </div>
    </div>
</section>

