{# 搜索 ajax #}

<div id="header-search" class="curtain">
    <button type="button" class="close" title="关闭">
        <i style="pointer-events: none;" class="fas fa-times-circle"></i>
    </button>
    <div class="header-search-form">
        <input id="api_search" type="search" name="q" placeholder="在此输入........" required/>
        <span id="C3JFDE4" class="input-clean" onclick="this.previousElementSibling.value=null"><i class="fas fa-times"></i></span>
        <div class="header-search-result">
            <div class="result_meta">找到<span id="serach_result_count">0</span>条结果</div>
            <ul id="serach_result">

                {% comment %}
                <li data-href="#">
                    <div class="item-img">
                        <img data-src="https://xx.com/id/1051/100/80">
                    </div>
                    <div class="item-content">
                        <h3>django</h3>
                        <p>测试是伴随着开发进行的， 开发有多久，测试就要多久。</p>
                    </div>
                </li>
                {% endcomment %}

            </ul>
        </div>
    </div>
</div>

<script>
    $(function () {
        var api_search_input = $('#api_search'),
            serach_result = $('#serach_result'),
            serach_result_count = $('#serach_result_count'),
            block_request = false;

        api_search_input.on('input', function (e) {
            var search_value = api_search_input.val(),
                len = search_value.trim().length;
            if (((len > 1) || (e.keyCode === 13 && len > 1)) && !block_request) {
                to_search(search_value);
            }
        });
        api_search_input.on('keyup', function (e) {
            var search_value = api_search_input.val(),
                len = search_value.trim().length;
            if (e.keyCode == 13 && len > 1 && !block_request) {
                to_search(search_value);
            }
        });

        function to_search(key) {
            if (serach_result.data('keyword') != key) {
                block_request = true;
                $.get("{% url 'app_blog:api_search-list' %}", { 'q': key }, function (data, status, xhr) {
                    if (status == 'success') {
                        serach_result.empty();
                        serach_result_count.text(data.length);
                        data.forEach((value) => {
                            console.log(value)
                            var item = value.object;
                            if (item){
                                var tags = item.tags.map((tag)=>{
                                    return `<span><a href="${tag.tag_url}" title="标签:${tag.name}"><i class="fas fa-hashtag"></i>${tag.name}</a></span>`
                                });
                                console.log(tags);
                                var ele = `
                                <li style="display:none">
                                <div class="item-img"><img src="https://picsum.photos/id/1051/100/80"></div>
                                <div class="item-content">
                                    <h3><a href="${item.detail_url}">${item.title}</a></h3>
                                    <p>${item.summary}</p>
                                    <div class="result-meta">
                                        <span><i class="fas fa-calendar-alt"></i> ${item.pub_time}</span>
                                        <span><a href="${item.category_url}" title="分类:${item.category_name}"><i class="fas fa-book"></i>${item.category_name}</a></span>
                                        ${tags.join('')}
                                    </div>
                                </div></li>`;
                                var $ele = $(ele);
                                serach_result.append($ele);
                                $ele.fadeIn(500);
                            }
                        })
                    }
                    serach_result.data('keyword', key);
                    block_request = false;
                });
            }
        }
    })



</script>