{% comment %}
    分页
    参数: 
        page_obj: 分页对象
        keyword: 搜索关键字
{% endcomment %}


{% with page_count=page_obj.paginator.num_pages current_page=page_obj.number kw_data='&q='|add:keyword %}
<div class="pagination-layout1">
    <ul>
        <!-- 上一页 -->
        {% if page_obj.has_previous %}
        <li><a href="?page={{page.previous_page_number}}{{kw_data}}" title="上一页"><i class="fas fa-chevron-left"></i></a></li>
        {% else %}
        <li class="disabled"><span><i class="fas fa-chevron-left"></i></span></li>
        {% endif %}

        <!-- 首页 -->
        {% if current_page|add:-1 > 2 %}<li><a href="?page=1{{kw_data}}" title="首页">1</a></li>{% endif %}
        {% if current_page|add:-1 > 3 %}<li class="disabled">...</li>{% endif %}

        <!-- 前2页 -->
        {% if current_page|add:-2 >= 1 %}<li><a href="?page={{current_page|add:-2}}{{kw_data}}">{{ current_page|add:-2}}</a></li>{% endif %}
        <!-- 前1页 -->
        {% if current_page|add:-1 >= 1 %}<li><a href="?page={{current_page|add:-1}}{{kw_data}}">{{ current_page|add:-1}}</a></li>{% endif %}
        <!-- 当前页 -->
        <li class="active"><span>{{ current_page }}</span></li>
        <!-- 后1页 -->
        {% if current_page|add:1 <= page_count %}<li><a href="?page={{current_page|add:1}}{{kw_data}}">{{ current_page|add:1}}</a></li>{% endif %}
        <!-- 后2页 -->
        {% if current_page|add:2 <= page_count %}<li><a href="?page={{current_page|add:2}}{{kw_data}}">{{ current_page|add:2}}</a></li>{% endif %}

        <!-- 尾页 -->
        {% if current_page|add:3 < page_count %}<li class="disabled">...</li>{% endif %}
        {% if current_page|add:2 < page_count %}<li><a href="?page={{page_count}}{{kw_data}}" title="尾页">{{page_count}}</a></li>{% endif %}

        <!-- 下一页 -->
        {% if page_obj.has_next %}
        <li><a href="?page={{page.next_page_number}}{{kw_data}}" title="下一页"><i class="fas fa-chevron-right"></i></a></li>
        {% else %}
        <li class="disabled"><span><i class="fas fa-chevron-right"></i></span></li>
        {% endif %}
    </ul>
</div>
{% endwith %}