
{% extends 'base.html' %}
{% load static %}

{% block title %}
Gallery
{% endblock title %}


{% block css_file %}
<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
<link rel="stylesheet" href="{% static 'app_gallery/css/demo.css' %}" />
<link rel="stylesheet" href="{% static 'app_gallery/PhotoSwipe_v4.1.3/photoswipe.css' %}">
<link rel="stylesheet" href="{% static 'app_gallery/PhotoSwipe_v4.1.3/default-skin/default-skin.css' %}">
<script>document.documentElement.className = 'js';</script>
{% endblock css_file %}


{% block home %}
<h2 class="title">浩瀚星海</h2>



<div class="">
    {% url 'app_gallery:gallery_list' as the_url %}
    <h4 style="color: white;">
        <a class="codrops-icon codrops-icon--drop" href="{{ request.GET.before|default:the_url }}" title="返回">
            <svg class="icon icon--arrow">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </a>
        <span style="vertical-align:top">{{ gallery.title }}</span>
    </h4>
</div>
{% endblock home %}


{% block content %}
<body class="loading">
    <svg class="hidden">
        <symbol id="icon-arrow" viewBox="0 0 24 24">
            <title>arrow</title>
            <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
        </symbol>
    </svg>
    <main>

        <header class="codrops-header"></header>
        <!-- 左侧侧边栏 -->
        <!-- <div class="content content--side"> -->
            <!-- <div class="control control--grids"> -->
            <!-- <span class="control__title">布局</span> -->
            <!-- <div class="control__item"> -->
            <!-- <input class="control__radio" type="radio" name="grid-type" value="grid--type-a" id="control-grid-a" checked> -->
            <!-- <label class="control__label" for="control-grid-a">grid A</label> -->
            <!-- </div> -->
            <!-- </div>	 -->
        <!-- </div> -->
        <!-- 右侧侧边栏 -->
        <div class="content content--side content--right">
            <div class="control control--effects">
                <span class="control__title">运行效果</span>
                <button class="control__btn" data-fx="Hapi">Hapi</button>
                <button class="control__btn" data-fx="Amun">Amun</button>
                <button class="control__btn" data-fx="Kek">Kek</button>
                <button class="control__btn" data-fx="Isis">Isis</button>
                <button class="control__btn" data-fx="Montu">Montu</button>
                <button class="control__btn" data-fx="Osiris">Osiris</button>
                <button class="control__btn" data-fx="Satet">Satet</button>
                <button class="control__btn" data-fx="Atum">Atum</button>
                <button class="control__btn" data-fx="Ra">Ra</button>
                <button class="control__btn" data-fx="Sobek">Sobek</button>
                <button class="control__btn" data-fx="Ptah">Ptah</button>
                <button class="control__btn" data-fx="Bes">Bes</button>
                <button class="control__btn" data-fx="Seker">Seker</button>
                <button class="control__btn" data-fx="Nut">Nut</button>
                <button class="control__btn" data-fx="Shu">Shu</button>
            </div>
        </div>
        <!-- 照片容器 -->
        <div class="content content--center">
            <div class="grid">
                <div class="grid__sizer"></div>
                <div class="my-gallery">
                    {% if gallery.is_visible %}
                    {% for item in images %}
                    <div class="grid__item">
                        <a class="grid__link" href="{{ item.image.url }}" data-size="{{ item.image.width }}x{{ item.image.height }}">
                            <img class="grid__img" src="{{ item.thumb.url }}" alt="{{ item.alt }}" date-time="{{ item.create_date }}" />
                            <div class="img-description">
                                <span>{{ item.alt }}</span>
                        </div>
                        </a>
                    </div>
                    {% empty %}
                    <p>该相册还没有照片</p>
                    {% endfor %}
                    {% else %}
                    <div class="grid__item">
                        该相册未公开
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--  PhotoSwipe 初始化 -->
        <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div> <!-- 背景色-->
            <div class="pswp__scroll-wrap">
                <!-- 隐藏滚动 -->
                <div class="pswp__container">
                    <!-- PhotoSwipe 只保留其中 3 个在 Dom 中,以节省内存 -->
                    <div class="pswp__item"></div> <!-- 不要修改这 3 个pswp__item，稍后将添加数据 -->
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <!-- 滑动区域 PhotoSwipeUI_Default（默认）界面。可更改 -->
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div> <!-- 控件声明, 可自定义 -->
                        <button class="pswp__button pswp__button--close" title="关闭"></button>
                        <button class="pswp__button pswp__button--share" title="分享"></button>
                        <button class="pswp__button pswp__button--fs" title="填充屏幕"></button>
                        <button class="pswp__button pswp__button--zoom" title="缩放"></button>

                        <div class="pswp__preloader">
                            <!-- 元素将获取类 pswp__preloader 加载器运行时激活 -->
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div> -->
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <!-- 分享按钮 -->
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <!-- 描述信息 -->
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock content %}


{% block javascript %}
<script src="{% static 'app_gallery/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'app_gallery/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'app_gallery/js/anime.min.js' %}"></script>
<script src="{% static 'app_gallery/js/main.js' %}"></script>

<script src="{% static 'app_gallery/PhotoSwipe_v4.1.3/photoswipe.min.js' %}"></script>
<script src="{% static 'app_gallery/PhotoSwipe_v4.1.3/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'app_gallery/js/gallery.js' %}"></script>
{% endblock javascript %}



