{% extends 'tp/base.html' %}
{% load static %}
{% load common_tags %}



{% block container %}


{% spaceless %}
{% if page_obj %}                

{% set left = 0 %} {% set top = 0 %}
<section class="blog-wrap-layout14 article_list">
    <div class="container">
        <div class="row gutters-40 menu-list" id="no-equal-gallery" style="position: relative; height: 1891.75px;">

                {% for gallery in page_obj %}
                {% with gallery_title=gallery.title %}
                {% if left > 2 %} {% set left = 0 %} {% set top++ %} {% endif %}

                <div class="col-lg-4 col-md-6 col-sm-6 col-12 no-equal-item"
                    style="position: absolute; left: {% widthratio left 1 403 %}px; top: {% widthratio top 1 472 %}px;">
                    <div class="blog-box-layout5">
                        <div class="item-img">
                            <a href="{% url 'app_gallery:gallery_detail' gallery.pk gallery.slug %}?before={{request.get_full_path}}">
                                <img src="{{ gallery.thumb.url }}" alt="{{gallery_title}}">
                            </a>
                            <a href="{% url 'app_gallery:gallery_detail' gallery.pk gallery.slug %}?before={{request.get_full_path}}"
                                class="hover-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta meta-color-dark">
                                <li><i class="fas fa-tag"></i>{{gallery.photos.count}}张</li>
                                <li><i class="fas fa-calendar-alt"></i>{{ gallery.mod_date |date:"Y-m-j H:i:s" }}</li>
                            </ul>
                            <h3 class="item-title">
                                <a href="single-blog.html">
                                    {{ gallery_title|truncatechars:7}}{% if gallery_title|length > 7 %}...{% endif %}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>

                {% set left++ %}

                {% endwith %}
                {% endfor %}

        </div>
    </div>
</section>

<!-- 页码 -->
<section class="blog-wrap-layout14">
    <div class="container">
        <div>
            {# 页码 #}
            {% include 'pagination.html' with page_obj=page_obj %}
        </div>
    </div>
</section>

{% else %}
<p>No gallery yet</p>
{% endif %}
{% endspaceless %}

{% endblock container %}

