{% extends "base.html" %}

{% block content %}

<div>
    <div style="display: inline-block;">
        <h3>所有文章</h3>
    </div>
    <div style="float: right;">
        <a href="{% url 'app_admin:create_blog' %}">
            <button class='btn btn-info'>+</button>
        </a>
    </div>
</div>

<form action="{% url 'app_blog:article_search' %}" role="search" method="get">
    {% csrf_token %}
    <div class="input-group col-md-12">
        <input type="text" name="q" id="q" class="form-control" placeholder="搜索文章">
        <span class="input-group-btn">
            <button class="btn btn-default form-control" type="submit" value="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>标题</th>
            <th>类别</th>
            <th>发布日期</th>
            <th>查看</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
    </thead>
    <tbody>
        {% if page_obj %}
        {% for article in page_obj %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.category.name }}</td>
            <td>{{ article.publish | date:"Y-m-d" | default:"-" }}</td>

            {% if article.publish %}
            <td><a href="{{ article.get_absolute_url }}"><span class="glyphicon glyphicon-eye-open">☺︎</span></a></td>
            <td><a href="{{ article.get_absolute_url }}"><span class="glyphicon glyphicon-eye-open">✎</span></a></td>
            <td><a href="{{ article.get_absolute_url }}"><span class="glyphicon glyphicon-eye-open">✗</span></a></td>
            {% else %}
            <td>-</td>
            <td>-</td>
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        {% endif %}
    </tbody>

</table>

{# 从 paginator.html 引入分页模板 #}
{% include 'pagination.html' with page_obj=page_obj %}

{% endblock %}