{# 文章详情 #}


{% extends 'app_blog/base_blog.html' %}
{% load static %}
{% load blog_tags %}

<!-- HTML Title -->
{% block title %}{{ article.title }}{% endblock title %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'mdeditor/css/editormd.preview.css' %}"/>
{% endblock css_style %}

<!-- Start Home -->
{% block home %}
<!-- 文章标题 -->
<h1 class="title post_title"> {{ article.title }}</h1>
<!-- Meta 信息 -->
<div class="article-meta">
    <!-- 发布时间 -->
    <span class="item article-meta-time">
        <time class="time" data-toggle="tooltip" data-placement="bottom" title="发布时间: {{ article.pub_time | date:'Y-m-j H:i' }}">
            <i class="glyphicon glyphicon-time"></i>
            {{ article.pub_time | date:"Y-m-j H:i" }}
        </time>
    </span>
    <!-- 作者 -->
    <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="作者: {{ article.author }}">
        <a href="{% url 'app_blog:article_list_by_author' article.author %}"><i class="glyphicon glyphicon-user"></i> {{ article.author }}</a>
    </span>
    <!-- 分类 -->
    <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="分类: {{ article.category }}">
        <a href="{% url 'app_blog:category_detail' article.category.slug %}" title=""><i class="glyphicon glyphicon-list"></i> {{ article.category }}</a>
    </span>
    <!-- 标签 -->
    {% with article.tags.all as tags%}
    {% if tags %}
    <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="标签">
        <i class="glyphicon glyphicon-tag"></i>
        {% for tag in tags %}
        <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}">
            {{ tag.name }}
        </a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
    </span>
    {% endif %}
    {% endwith %}
    <!-- 浏览量 -->
    <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="{{ article.views }} 人看过">
        <i class="glyphicon glyphicon-eye-open"></i>
        {{ article.views }}
    </span>
    <!-- 评论数 -->
    <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="{{ article.comments.count }} 条评论">
        <a href="#comment"><i class="glyphicon glyphicon-comment"></i> {{ article.comments.count }}</a>
    </span>
    <!-- 点赞数 -->
    <span class="item article-meta-views" title="{{ article.users_like.count }} 点赞">
        {% with total_likes=article.users_like.count users_like=article.users_like.all %}
        <a class="like" href="#" data-id="{{ article.id }}" data-action="{% if request.user in users_like %}un{% endif %}like">
            <i class="glyphicon glyphicon-heart" style="{% if request.user in users_like %}color:red{% else %}color:white{% endif %}"></i>
            <span id="count">{{ total_likes }}</span>
        </a>
        {% endwith %}

    </span>
    <!-- superuser -->
    {% if request.user == article.author or request.user.is_superuser %}
    <a class="comment" href="{% url 'app_admin:update_article' article.id article.slug %}">
        <i class="glyphicon glyphicon-pencil"></i>修改</a>
    <a class="comment" href="{{ article.get_admin_url }}">
        <i class="glyphicon glyphicon-pencil"></i>admin中编辑</a>
    {% endif %}

</div>
{% endblock home %}



{% block blog_content_main %}

<!-- 面包屑导航 -->
{% load_breadcrumb article %}

<!-- 文章主体 -->
<article class="card">

    <!-- 文章内容 -->
    <div class="entry-content">
        {{ article.body|custom_markdown}}
    </div>

    <!-- 文章结尾 -->
    <div class="article-footer">
        <span class="inner">未经允许不得转载</span>
    </div>    

    <!-- 上一篇 下一篇文章 -->
    <nav class="nav-single">
        {% if next_article %}
            <span class="nav-previous">
                <a href="{{ next_article.get_absolute_url }}" rel="prev" data-toggle="tooltip" data-placement="bottom" title="上一篇: {{ next_article.title }}">
                    <i class="fa fa-chevron-left mr-1"></i> {{ next_article.title }}
                </a>
            </span>
        {% endif %}
        {% if prev_article %}
            <span class="nav-next">
                <a href="{{ prev_article.get_absolute_url }}" rel="next" data-toggle="tooltip" data-placement="bottom" title="下一篇: {{ prev_article.title }}">
                    {{ prev_article.title }} <i class="fa fa-chevron-right ml-1"></i>
                </a>
            </span>
        {% endif %}
    </nav>
</article>


<!-- 相似文章 -->
<div class="card">
    <div class="relates">
        <div class="title"><h3>相似推荐</h3></div>
        {% similar_articles article %}
    </div>
</div>


<p><a href="{% url 'app_blog:article_share' article.id %}"> 分享文章 </a></p>


<!-- 评论 -->
<div class="card">
    <div class="title" id="comment">
        <h3>评论 <small>抢沙发</small></h3>
    </div>

    <!-- 评论表单 -->
    {% if article.comment_status == "o" and OPEN_SITE_COMMENT %}
    <div id='respond'>
        {% if request.user.is_authenticated %}
            {% include "app_comments/post_comment.html" with obj=article form=comment_form %}
        {% else %}
        <!-- <p>您还没有登录，请您登<a href="{% url 'app_user:login' %}?next={{ article.get_absolute_url }}">登录</a>后发表评论。</p> -->
        <p>您还没有登录,请<a name="login-form" data-toggle="modal" data-target="#login_register_Modal" rel="nofollow">登录</a>后发表评论。</p>
        {% endif %}
    </div>
    {% else %}
    文章关闭了评论
    {% endif %}

    <!-- 评论列表 -->
    <div>
        {# with 标签可以将某个值赋予到新的变量中,对于避免数据库访问或者多次访问开销交的的方法十分有用 #}
        {% with comments.count as total_comments %}
        <h2> {{ total_comments }} 条评论 </h2>
        {% if total_comments != 0 %}
        <div class="commentlist">
            {% query comments parent_comment=None as parent_comments %}
            {% for comment_item in parent_comments %}
                {% with 0 as depth %}
                    {% include "app_comments/comment_item_tree.html" with obj=article %}
                {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

<button id="btn1">点击发送ajax</button>
<p id="pp1"></p>

{% endblock blog_content_main %}


{% block script %}
<script src="{% static 'js/jquery.cookie_1.4.1.min.js' %}"></script>
<script>

    // 回复评论
    function do_reply(parentid, username) {
        $('#id_parent_comment').val(parentid);
        $('#cancel_comment').show();
        $("#commentform").appendTo($("#comment-content-" + parentid));
    }

    // 取消回复
    function cancel_reply() {
        $('#id_parent_comment').val('');
        $('#comments').text('添加评论');
        $('#cancel_comment').hide();
        $("#commentform").appendTo($("#respond"));
    }

    // 删除评论
    function delete_comment(comment_id, obj_id){
        $.ajax({
            url: '{% url "app_comments:ajax_delete_comment" %}',
            data: {
                'comment_id':comment_id,
                'obj_id':obj_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data['status']==200){
                    $(`#div-comment-${comment_id}`).remove();
                    console.log('删除成功!')
                }
            }
        });
    }

    // 按钮点击异步请求
    $('#btn1').on('click', function () {
        $.ajax({
            url: '{% url "app_blog:ajax_app_test" %}',
            data: {
                'keyword': `发送: ${Math.random()}`
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#pp1").text("返回结果是: " + data.count)
            }
        });
    });

    // 获取csrftoken
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // 点赞
    $(document).ready(function () {
        $('a.like').click(function (e) {
            e.preventDefault();
            var ele = $(this);
            var id = ele.data('id');
            var action = ele.data('action');

            $.ajax({
                url: '{% url "app_blog:blog_like" %}',
                data: {
                    'id': id,
                    'action': action,
                },
                type: 'POST',
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (data) {
                    if (data['status'] == 'ok') {
                        var previous_action = action;

                        // 变换动作
                        ele.data('action', previous_action == 'like' ? 'unlike' : 'like');
                        // 变换链接对应文本
                        // ele.text(previous_action == 'like' ? 'Unlike' : 'Like');

                        // 更新总点赞数
                        // var previous_likes = parseInt($('span.count').text());
                        // $('span.count').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);

                        if (previous_action=='like'){
                            $('a.like>:first').css('color', 'red');
                        }else{
                            $('a.like>:first').css('color', 'white');
                        }
                        $('a.like span#count').text( data['count']);
                    }
                    else {
                        window.location.href = "{% url 'app_user:login' %}?next={{ article.get_absolute_url }}"
                    }
                },
            });
        });
    });

</script>
{% endblock script %}
