
{# 页脚 #}

<footer class="footinfo">

    <div style="text-align: center">
        Copyright&copy;&nbsp;{{ CURRENT_YEAR }}&nbsp;
        <a href="/" target="blank">{{ SITE_NAME }}</a>
        &nbsp;|&nbsp;
        <a href="/sitemap.xml" title="SiteMap" target="_blank">SiteMap</a>
        &nbsp;|&nbsp;
        <a href="{% url 'app_blog:article_feed' %}" title="RSS Feed" target="_blank">订阅博客</a>
        &nbsp;|&nbsp;
        <a href="/links.html" title="友情链接" rel="nofollow" target="_blank">友情链接</a>
        |&nbsp; Hosting On&nbsp;
        <a href="https://www.linode.com/?r=b0d38794d05ef8816b357a929106e89b7c6452f9" target="blank" rel="nofollow">Linode</a>
        |&nbsp;
        <a href="https://tongji.baidu.com/sc-web/3478620/home/ico?siteId=11261596" target="_blank" rel="nofollow">百度统计</a>
        {% comment %}{% include 'share_layout/analyticscode.html' %}{% endcomment %}
    </div>
    <div style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="_blank">Django</a>
        &nbsp;|&nbsp;
        本页面加载耗时:<!!LOAD_TIMES!!>s
    </div>

    {% if BEIAN_CODE %}
    <div class="site-info" style="text-align: center">
        <a href="http://www.beian.miit.gov.cn/" rel="nofollow" target="_blank">
            {{ BEIAN_CODE }}
        </a>
        {% if BEIAN_CODE_GONGAN and SHOW_GONGAN_CODE %}
            {{ BEIAN_CODE_GONGAN |safe }}
        {% endif %}
    </div>
    {% endif %}
    {% if ANALYTICS_CODE %}
        {{ ANALYTICS_CODE| safe }}
    {% endif %}

</footer>