
.docs-demo {
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2px;
}

.img-container,
.img-preview {
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;
}

/* 圆形遮罩 */
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

.img-container {
  max-height: 497px;
  min-height: 200px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 497px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -1rem;
}

.img-preview {
  /* float: left; */
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  border-radius: 50%;
  height: 9rem;
  width: 16rem;
}

.preview-md {
  border-radius: 50%;
  height: 4.5rem;
  width: 8rem;
}

.preview-sm {
  border-radius: 50%;
  height: 2.25rem;
  width: 4rem;
}

.preview-xs {
  border-radius: 50%;
  height: 1.125rem;
  margin-right: 0;
  width: 2rem;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
}

.docs-tooltip {
  display: block;
  margin: -0.5rem -0.75rem;
  padding: 0.5rem 0.75rem;
}

.docs-tooltip > .icon {
  margin: 0 -0.25rem;
  vertical-align: top;
}

.btn-upload {
  white-space: nowrap;
}