{% extends 'base.html' %}
{% load static %}


{% block title %}用户管理{% endblock %}


{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            {% for i in table_data.0 %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for table in table_data %}
        <tr>
            {% for i in table.values %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</table>

{% endblock %}