{% load blog_tags %}
{% load humanize %}




{% comment %}
用法:
在需要评论的模板中, 应用如下几行. 引入自定义的模板标签'{% load blog_tags %}'
comments: 查询到关联的所有评论.

{% query comments parent_comment=None as parent_comments %}
{% for comment_item in parent_comments %}
{% include "app_comments/comment_tree.html" with object=object %}
{% endfor %}

{% endcomment %}





{% with uid=comment_item.uuid is_overhead=comment_item.is_overhead is_hide=comment_item.is_hide parent=comment_item.parent_comment %}
<div id="{{uid}}" {% if parent %}class="media media-none--xs child-comment" style="display: none;"{% endif %} class="media media-none--xs" data-author="{{comment_item.author.uuid}}">

    <!-- 头像 -->
    {% if comment_item.author.photo %}
    <img src="{{ comment_item.author.photo.url }}" class="rounded-circle" alt="avatar">
    {% else %}
    <img ptions="size=50x50&text={{me.username|first}}&fstyle=oblique&fweight=bold&fsize=40&ffamily=consolas" class="placeholder rounded-circle" alt="avatar">
    {% endif %}

    <!-- body -->
    <div class="media-body" id="content-{{uid}}">
        <!-- 昵称 -->
        <div class="item-title">
            {% with user=comment_item.author.username %}
            <span class="item-nickname">{{ user }}</span>
            {% if object.author == user %}<span class="item-meta badge badge-success">作者</span>{% endif %}
            {% endwith %}

            {% if parent %}
            {% with pp=parent.author.username %}
            <div class="reply" data-reply="{{parent.uuid}}-{{parent.author.uuid}}">
                <span class="item-nickname">回复: {{pp}}</span>
                {% if object.author == pp %}
                <span class="badge badge-success">作者</span>
                {% endif %}
            </div>
            {% endwith %}
            {% endif %}

            <!-- 顶置评论 -->
            {% if is_overhead %}<span class="item-meta badge badge-warning">顶置</span>{% endif %}

            <span class="item-subtitle">{{ comment_item.created_time|naturaltime }}</span>
        </div>

        <!-- content -->
        <div class="item-body">
            {{ comment_item.body |escape|markdown_format|safe }}
        </div>
    </div>

    {% if request.user.is_superuser %}
    <!-- Admin control -->
    <div class="item-btn visible">
        <div class="custom-control custom-switch custom-control-inline">
            <input name='is_hide' type="checkbox" class="custom-control-input" id="do_action_hide-{{uid}}" {% if is_hide %}checked{% endif %}>
            <label class="custom-control-label" for="do_action_hide-{{uid}}">隐藏</label>
        </div>
    </div>

    {% if not parent %}
    <div class="item-btn overhead">
        <div class="custom-control custom-switch custom-control-inline">
            <input name='is_overhead' type="checkbox" class="custom-control-input" id="do_action_overhead-{{uid}}" {% if is_overhead %}checked{% endif %}>
            <label class="custom-control-label" for="do_action_overhead-{{uid}}">置顶</label>
        </div>
    </div>
    {% endif %}

    {% endif %}

    <!-- 回复 -->
    <a href="#" class="item-btn reply">
        <i class="far fa-comment-dots"></i>
    </a>

    {% if not parent and comment_item.child_comments.exists %}
    <!-- 折叠顶级评论的子评论 -->
    <div href="#" class="item-btn extend" title="展开子评论">
        <i class="fas fa-chevron-circle-down"></i>
        <span>展开</span>
    </div>
    {% endif %}

</div>
{% endwith %}


{% query comments parent_comment=comment_item as cc_comments %}
{% for cc in cc_comments %}
{% with comment_item=cc %}
{% include "app_comments/comment_tree.html" %}
{% endwith %}
{% endfor %}
