{% load blog_tags %}



{% comment %}

参数:
    object: 模型的一条实例, 比如某篇文章, 某张相片
    comments: object下面的所有评论

{% endcomment %}


<button id="7845">6555</button>


<!-- 评论表单  -->
{% if object.comment_status and OPEN_SITE_COMMENT %}
<div id="comment" class="blog-form">
    <div class="section-heading-4 heading-dark">
        <h3 class="item-heading">评论</h3>
    </div>
    <form class="contact-form-box" name="add_comment">
        <div class="row gutters-15">
            {% csrf_token %}
            <input type="hidden" name="object_slug" value="{{object.slug}}">
            {% if not request.user.is_authenticated %}
            {# 如果登录就不显示 name 和 email Form #}
            <div class="col-md-6 form-group">
                <input type="text" placeholder="Nickname* 20个字符内" class="form-control" name="nickname" value="6646" required>
            </div>
            <div class="col-md-6 form-group">
                <input type="email" placeholder="E-mail*" class="form-control" name="email" value="891953720@qq.com" required>
            </div>
            {% else %}
            <input type="hidden" name="username" value="{{request.user}}">
            {% endif %}
            <div class="col-12 form-group">
                <textarea placeholder="来说点什么..." class="textarea form-control" name="comment_body" rows="4" required></textarea>
            </div>
            <div class="col-12 form-group RL_layer">
                <p style="color:red; margin-right:10px;">error</p>
                <a href="#" class="btn item-btn cancel-comment">取消回复</a>
                <button id="send_comment" class="item-btn">发送</button>
            </div>
        </div>
    </form>
</div>
{% endif %}


<!-- 文章评论 -->
<div class="blog-comment">

    {% if comments.count > 0 %}
    {% query comments parent_comment=None as parent_comments %}
    {% for comment_item in parent_comments %}
        {% with 0 as depth %}
        {% include "app_comments/comment_tree.html" with object=object %}
        {% endwith %}
    {% endfor %}
    {% endif %}
</div>



<script>

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", $("[name='csrfmiddlewaretoken']").val())
        }
    });

    var $from = $('[name=add_comment]');
        $from.on('submit', add_comment);

    // 取消回复某条评论
    $('a.cancel-comment').on('click', function(e){
        $from.data('replyto', '')
        $('#comment form').remove();
        // $from[0].reset();  // reset form 表单
        $('#comment').append($from);
        return false;
    });

    // 回复某条评论
    $('a.reply').on('click', function(e){
        var $this = ($(this)),
            $parent = $this.parent();
        // $from[0].reset();  // reset form 表单
        $parent.after($from);
        $from.data('replyto', $parent[0].id)
        $from.find('textarea').focus();
        return false;
    });

    // 添加评论 ajax Post
    function add_comment(e){
        var replyto = $from.data('replyto');
        $.ajax({
            url: "{% url 'app_comments:view' %}",
            data: $from.serialize()+`&replyto=${replyto?replyto:''}`,
            type: 'POST',
            dataType: 'json',
            // 发送数据到服务器时所使用的内容类型
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                if (data['status']==200){
                    console.log('成功!', data['msg']);
                }else{
                    console.log(data['msg']);
                }
            },
            error: function (xhr, status, error) {  // 请求失败运行的函数
                console.log(xhr, status, error);
            }
        });
        return false;
    };

    // 置顶评论 ajax Patch
    $("input[id^='overhead-']").on('click', sss);
    // 隐藏评论 ajax Patch
    $("input[id^='hide-']").on('click', sss);

    function sss(e){
        let ele = e.currentTarget;
        let data = `${ele.name}=${ele.checked}&uid=${ele.id.split('-')[1]}`;
        $.ajax({
            url:  "{% url 'app_comments:view' %}",
            data: data,
            type: 'PATCH',
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        });
        // $('#overhead-d24186cc94754d38b032d89477e2bc2c')[0].checked = ''
    };

</script>