{% load blog_tags %}
{% load humanize %}


{% with uid=comment_item.uuid is_overhead=comment_item.is_overhead is_hide=comment_item.is_hide %}
<div class="media media-none--xs {% if depth > 0 %}child-comment{% endif %}" id="{{uid}}" data-depth='{{depth}}'>
    <!-- 头像 -->
    <figure style="margin-left: {% widthratio depth 1 40 %}px" class="avatar avatar-lg">
        {% if comment_item.author %}
        <img src="{{ comment_item.author.profile.photo.url }}" class="rounded-circle" alt="avatar">
        {% else %}
        <span class="avatar-title bg-primary rounded-circle">{{comment_item.wanderer.username|first}}</span>
        {% endif %}
    </figure>

    <!-- body -->
    <div class="media-body" id="content-{{uid}}">
        <!-- 昵称 -->
        <div class="item-title">
            {% with comment_item.author|default:comment_item.wanderer as user %}
            <span class="item-nickname">{{ user.username }}</span>
            {% if object.author == user %}<span class="item-meta badge badge-success">作者</span>{% endif %}
            {% endwith %}

            <!-- 顶置评论 -->
            {% if is_overhead %}<span class="item-meta badge badge-warning">顶置</span>{% endif %}

            <span class="item-subtitle">{{ comment_item.created_time|naturaltime }}</span>
        </div>
        <!-- content -->
        <div class="item-body">
            {{ comment_item.body |escape|markdown_format|safe }}
        </div>
    </div>

    {% if request.user.is_superuser %}
    <!-- Admin control -->
    <div class="item-btn visible">
        <div class="custom-control custom-switch custom-control-inline">
            <input name='is_hide' type="checkbox" class="custom-control-input" id="hide-{{uid}}" {% if is_hide %}checked{% endif %}>
            <label class="custom-control-label" for="hide-{{uid}}">隐藏</label>
        </div>
    </div>

    <div class="item-btn overhead">
        <div class="custom-control custom-switch custom-control-inline">
            <input name='is_overhead' type="checkbox" class="custom-control-input" id="overhead-{{uid}}" {% if is_overhead %}checked{% endif %}>
            <label class="custom-control-label" for="overhead-{{uid}}">置顶</label>
        </div>
    </div>
    {% endif %}

    <!-- 回复 -->
    <a href="#" class="item-btn reply">回复</a>

    {% if depth == 0 and comment_item.child_comments.exists %}
    <!-- 折叠顶级评论的子评论 -->
    <a href="javascript:void(0)" class="item-btn extend" title="展开子评论">
        <i class="fas fa-chevron-circle-down"></i>
        <i class="fas fa-chevron-circle-up"></i>
    </a>{% endif %}

    {% if is_overhead %}
    <!-- 顶置评论 status -->
    <div class="is-overhead"><i class="fas fa-thumbtack"></i></div>
    {% endif %}

</div>
{% endwith %}


{% query comments parent_comment=comment_item as cc_comments %}
{% for cc in cc_comments %}
{% with comment_item=cc depth=depth|add:1 %}
{% include "app_comments/comment_tree.html" %}
{% endwith %}
{% endfor %}
