
{% comment %}
参数:
object: 模型的一条实例, 比如某篇文章, 某张相片
{% endcomment %}


<!-- 评论表单  -->
{% if object.comment_status and OPEN_SITE_COMMENT %}
<div id="comment" class="blog-form" data-isshow=false>
    <div class="section-heading-4 heading-dark">
        <h3 class="item-heading">评论 {{article.visible_comments_count}}</h3>
    </div>
    <form class="contact-form-box" name="add_comment" method="POST">
        <div class="row gutters-15">
            {% csrf_token %}
            <input type="hidden" name="object_slug" value="{{object.slug}}">
            {% if not request.user.is_authenticated %}
            {# 如果登录就不显示 name 和 email Form #}
            <div class="col-md-6 form-group">
                <input type="text" placeholder="Nickname* 20个字符内" class="form-control" name="nickname" required>
            </div>
            <div class="col-md-6 form-group">
                <input type="email" placeholder="E-mail*" class="form-control" name="email" required>
            </div>
            {% else %}
            <input type="hidden" name="username" value="{{request.user}}">
            {% endif %}
            <div class="col-12 form-group" style="position: relative;">
                <textarea placeholder="来说点什么..." class="textarea form-control" name="comment_body" rows="4"
                    required></textarea>
                <div style="position:absolute;bottom: 10px; right: 29px;">
                    <span style="margin-right: 5px;">😆</span>
                    <span style="margin-right: 5px;">😌</span>
                    <span style="margin-right: 5px;">🤪</span>
                </div>
            </div>
            <div class="col-12 form-group RL_layer">
                <p class="error-info"></p>
                <a href="#" class="btn item-btn cancel-comment">取消回复</a>
                <input type="button" id="send_comment" class="item-btn" value="发送">
            </div>
        </div>
    </form>
</div>
{% endif %}

<!-- 文章评论 -->
<div class="blog-comment"></div>

<div class="preloader mini-preloader">
    <div class="loader">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
</div>


<script>
(function ($) {
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", $("[name='csrfmiddlewaretoken']").val());
        }
    });

    var $form = $('form[name=add_comment]'),
        $submit_button = $('#send_comment'),
        $err_info_ele = $form.find('.error-info'),
        $comment_sys = $('#comment'),
        $win = $(window),
        $comment_container = $('.blog-comment'),
        AUTHOR_UUID = '{{object.author.profile.uuid}}',
        AUTHOR_SP = '{{request.user.is_superuser}}';

    $win.scroll(scroll_toshow_comments);  // 滚动到指定位置加载评论
    $comment_sys.on('click', '#send_comment', add_comment);  // 添加评论
    $comment_container.on('click', '#send_comment', add_comment);  // 添加评论

    $comment_container.on('click', 'a.cancel-comment', form_cancel);  // 取消回复某条评论
    $comment_container.on('click', 'a.reply', form_reply);  // 回复某条评论
    $comment_container.on('click', '.item-btn.extend', toggleChildrenComments);  // 显示或隐藏子评论

    $comment_container.on('change', "input[id^='do_action_']", do_action);  // 置顶评论/隐藏评论  ajax Patch

    $comment_container.on('mouseover', '.reply[data-reply]', HighlightComment).on('mouseleave', '.reply[data-reply]', HighlightComment);  // 高亮回复的评论

    $('.markdown-body .codehilite>pre>span').on('click', copycode); // 复制代码


    // 显示或隐藏子评论
    function toggleChildrenComments() {
        var $this = $(this);
        $.when($this.parent().nextUntil('[class="media media-none--xs"]').filter('.child-comment').slideToggle()).done(function (data) {
            if ($(data[0]).is(":visible")) {
                $this.find('i').css('transform', 'rotate(180deg)');
                $this.find('span').text('折叠');
            } else {
                $this.find('i').css('transform', 'rotate(0deg)');
                $this.find('span').text('展开');
            }
        })
        return false;
    };

    // 取消回复某条评论
    function form_cancel() {
        $form.data('replyto', '')
        $('#comment form').remove();
        // $form[0].reset();  // reset form 表单
        $form.hide(200, () => { $comment_sys.append($form); }).slideDown(400);
        return false;
    };

    // 回复某条评论
    function form_reply(e) {
        var $this = $(this),
            $parent = $this.parent();
        $form.data('replyto', $parent[0].id)
        // $form[0].reset();  // reset form 表单
        $form.hide(200, () => { $parent.after($form); }).slideDown(400, () => {
            $form.find('textarea').focus();
        });
        return false;
    };

    // 添加评论 ajax Post
    function add_comment(e) {
        var replyto = $form.data('replyto'),
            $this = $(this);
        // e.preventDefault();   // 阻止事件的默认行为
        // e.stopPropagation();  // 阻止事件向上冒泡
        $.ajax({
            url: "{% url 'app_comments:view' %}",
            data: $form.serialize() + `&replyto=${replyto ? replyto : ''}`,
            type: 'POST',
            dataType: 'json',
            // 发送数据到服务器时所使用的内容类型
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                if (data['status'] == 200) {
                    toastr.success(data['msg'])
                    $err_info_ele.text('评论成功');
                    form_cancel();
                } else {
                    toastr.error(data['msg']);
                    $err_info_ele.text(data['msg']);
                }
            },
            error: function (xhr, status, error) {  // 请求失败运行的函数
                toastr.error(status);
                $err_info_ele.text(status + ', 请稍后再试');
            },
            beforeSend: function () {
                // 设置提交按钮失效，以实现防止按钮重复点击
                $this.attr('disabled', true);
                $this.val('提交中...');
            },
            complete: function () {
                $this.removeAttr('disabled');
                $this.val('发送');
            },
        });
        return false;
    };

    // 置顶评论/隐藏评论  ajax Patch
    function do_action(e) {
        let ele = e.currentTarget,
            init_status = ele.checked;
        let data = `${ele.name}=${init_status}&uid=${ele.id.split('-')[1]}`;
        $.ajax({
            url: "{% url 'app_comments:view' %}",
            data: data,
            type: 'PATCH',
            dataType: 'json',
            success: function (data) {
                if (data['status'] == 200) {
                    toastr.success(data['msg']);
                } else {
                    toastr.error(data['msg']);
                    // ele.checked = init_status?'':'on';
                    setTimeout(() => { ele.checked = init_status ? '' : 'on'; }, 100);
                }
            },
            error: function (xhr, status, error) {  // 请求失败运行的函数
                toastr.error(status);
                // ele.checked = init_status?'':'on';
                setTimeout(() => { ele.checked = init_status ? '' : 'on'; }, 100);
            },
        });
    };

    // 高亮回复的评论
    function HighlightComment(e) {
        var $this = $(this),
            c = u = '';
        var comment_user = $this.data('reply');
        [c, u] = comment_user.split('-');
        var tar = $(`[id=${c}][data-author=${u}]`);
        if (tar) {
            if (e.type == 'mouseover') {
                tar.addClass('HighlightBox');
            } else {
                tar.removeClass('HighlightBox');
            };
        };
    };

    // $.getJSON 加载评论
    function load_comments(kargs){
        function success(data, status, xhr) {
            console.log(data);
            var extend_child = '<div href="#" class="item-btn extend" title="展开子评论"><i class="fas fa-chevron-circle-down"></i> <span>展开</span></div>';
            data.forEach(d => {
                var cls = '',
                    margin_left = '0px';
                if (d.parent_comment) {
                    cls = ' child-comment';
                    margin_left = '40px';
                };

                // 容器
                var one_comment_container = $(`<div id="${d.uuid}" class="media media-none--xs${cls}" style="display: none;" data-author="${d.author.uuid}"></div>`);

                // 头像
                var avatar_container = $(`<figure style="margin-left: ${margin_left}" class="avatar avatar-lg"></figure>`);
                if (d.author.photo) {
                    var avatar = $(`<img src="${d.author.photo}" class="rounded-circle" alt="avatar" />`);
                } else {
                    // var avatar = $(`<span class="avatar-title bg-primary rounded-circle">${d.author.username[0]}</span>`);
                    var avatar = $(`<img options="size=25x25&color=#fff&text=${d.author.username[0]}&fstyle=oblique&fsize=20&ffamily=consolas" class="placeholder rounded-circle" alt="avatar" />`);
                };

                avatar_container.append(avatar);
                one_comment_container.append(avatar_container);

                var comment_body = $(`<div class="media-body" id="content-${d.uuid}"></div>`);
                var nickname = $('<div class="item-title"></div>');
                var content = $(`<div class="item-body"><p>${d.body}</p></div>`);
                var z = `<span class="item-nickname">${d.author.username}</span>`;
                var x = AUTHOR_UUID == d.author.uuid ? '<span class="item-meta badge badge-success">作者</span>' : '';
                var y = '';

                // 回复的用户
                if (d.parent_comment) {
                    var b = `<div class="reply" data-reply="${d.parent_comment.uuid}-${d.parent_comment.author_uuid}"><span class="item-nickname">回复: ${d.parent_comment.username}</span>`;
                    var h = AUTHOR_UUID == d.parent_comment.author_uuid ? '<span class="badge badge-success">作者</span>' : '';
                    y = b + h + '</div>';
                };

                // 顶置评论
                var k = d.is_overhead ? '<span class="item-meta badge badge-warning">顶置</span>' : '';
                // 评论日期
                var t = `<span class="item-subtitle">${d.created_time}</span>`

                nickname.append(z + x + y + k + t);
                comment_body.append(nickname);
                comment_body.append(content);
                one_comment_container.append(comment_body);

                // 超级用户控制
                if (AUTHOR_SP == 'True') {
                    var hide_switch = `<div class="item-btn visible"><div class="custom-control custom-switch custom-control-inline">
                                            <input name='is_hide' type="checkbox" class="custom-control-input" id="do_action_hide-${d.uuid}" ${d.is_hide ? 'checked' : ''}>
                                            <label class="custom-control-label" for="do_action_hide-${d.uuid}">隐藏</label></div></div>`;
                    one_comment_container.append(hide_switch);
                    if (!d.parent_comment) {
                        var to_overhead = `<div class="item-btn overhead"><div class="custom-control custom-switch custom-control-inline">
                                                <input name='is_overhead' type="checkbox" class="custom-control-input" id="do_action_overhead-${d.uuid}" ${d.is_overhead ? 'checked' : ''}>
                                                <label class="custom-control-label" for="do_action_overhead-${d.uuid}">置顶</label></div></div>`;
                        one_comment_container.append(to_overhead);
                    }
                };

                // 回复按钮
                one_comment_container.append('<a href="#" class="item-btn reply"><i class="far fa-comment-dots"></i></a>');

                // 折叠子评论
                if (d.parent_comment) {
                    var $sible_prev = $comment_container.children().last();
                    if ($sible_prev.not('.child-comment').length > 0) {
                        $sible_prev.append(extend_child);
                    };
                };

                $comment_container.append(one_comment_container);
                if (!d.parent_comment) {
                    one_comment_container.slideDown(500);
                }
            });
        };

        $.getJSON('/comment', { a: 123, b: 456 }, success);
    };

    // 滚动到指定位置加载评论
    function scroll_toshow_comments() {
        if (!$comment_sys.data().isshow) {
            var itemOffsetTop = $comment_sys.offset().top,     // 元素距离页面顶部的距离
                itemOuterHeight = $comment_sys.outerHeight(),  //这个方法可以传递一个参数true, 如果传递表示需要求出的高度含有外边距, 否则不含有. 具体视需求而定.
                winHeight = $win.height(),  // 浏览器可见区域的高度
                winScrollTop = $win.scrollTop();  // 页面滚动的距离
            if (!(winScrollTop > itemOffsetTop + itemOuterHeight) && !(winScrollTop < itemOffsetTop - winHeight)) {
                $comment_sys.data().isshow = true;
                load_comments();
            }
        }
    }

    function copycode(event) {
        var $this = $(event.currentTarget);
        var $code = $this.next('code');
        if ($code) {
            let transfer = document.createElement('textarea');
            let original_code = $code.text();
            let copytext = `${original_code}\n${new Array(40).join('-')}\n{{SITE_NAME}}|${document.title}\n${document.location.href} (转载请备注来源😚)\n${new Date()}`;
            document.body.appendChild(transfer);
            transfer.value = copytext;  // 这里表示想要复制的内容
            transfer.select();
            if (document.execCommand('copy')) {
                document.execCommand('copy');
            }
            toastr.success('复制成功');
            document.body.removeChild(transfer);
        };
        return false;
    };


})(jQuery)
</script>