{% load blog_tags %}
{% load humanize %} 

{% spaceless %}


<div class="media media-none--xs {% if depth > 0 %}child-comment{% endif %}" id="div-comment-{{ comment_item.pk }}">
    
    <!-- 头像 -->
    <figure style="margin-left: {% widthratio depth 1 40 %}px" class="avatar avatar-lg">
        {% if comment_item.author %}
        <img src="{{ comment_item.author.profile.photo.url }}" class="rounded-circle" alt="avatar">
        {% else %}
        <span class="avatar-title bg-primary rounded-circle">{{comment_item.wanderer.username|first}}</span>
        {% endif %}
    </figure>

    <!-- body -->
    <div class="media-body" id="comment-content-{{ comment_item.pk }}">
        <!-- 昵称 -->
        <h4 class="item-title">
            {% with comment_item.author|default:comment_item.wanderer as user %}{% if obj.author == user %}<span class="badge badge-success">作者</span>{% else %}{{ user.username }}{% endif %}{% endwith %}
            <span class="item-subtitle">{{ comment_item.created_time|naturaltime }}</span>
        </h4>
        <!-- content -->
        <div class="item-body">
            {{ comment_item.body |escape|markdown_format|safe }}
        </div>
        <!-- button -->
        <a href="#" class="item-btn reply">回复</a>

        <!-- 折叠顶级评论的子评论 -->
        {% if depth == 0 and comment_item.child_comments.exists %}
        <a href="javascript:void(0)" class="item-btn extend" title="展开子评论"><i class="fas fa-chevron-circle-right"></i></a>
        {% endif %}

        {% if request.user.is_superuser %}
        <a href="javascript:void(0)" class="item-btn overhead" title="顶置评论" onclick="delete_comment({{comment_item.pk }}, {{obj.id}})">
            <i class="fas fa-thumbtack"></i>
        </a>
        <a href="javascript:void(0)" class="item-btn delete" title="删除评论" onclick="delete_comment({{comment_item.pk }}, {{obj.id}})">
            <i class="fas fa-trash-alt"></i>
        </a>
        {% endif %}
    </div>

    <!-- 顶置评论 -->
    {% if comment_item.is_overhead %}
    <div class="is-overhead"><i class="fas fa-thumbtack"></i></div>
    {% endif %}

</div>



{% query comments parent_comment=comment_item as cc_comments %}
{% for cc in cc_comments %}
    {% with comment_item=cc depth=depth|add:1 %}
    {% include "app_comments/comment_item_tree.html" %}
    {% endwith %}
{% endfor %}


{% endspaceless %}


