{# 评论表单 #}

{% if article.comment_status and OPEN_SITE_COMMENT %}
<div id="comment" class="blog-form">
    <div class="section-heading-4 heading-dark">
        <h3 class="item-heading">评论</h3>
    </div>
    <form action="{% url 'app_comments:postcomment' obj.pk %}" method="post" class="contact-form-box">
        <div class="row gutters-15">
            {% csrf_token %}
            {% if not request.user.is_authenticated %}
            {# 如果登录就不显示 name 和 email Form #}
            <div class="col-md-6 form-group">
                <input type="text" placeholder="Name*" class="form-control" name="first_name"
                    data-error="Name field is required" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-6 form-group">
                <input type="email" placeholder="E-mail*" class="form-control" name="email"
                    data-error="E-mail field is required" required>
                <div class="help-block with-errors"></div>
            </div>
            {% else %}
            <input type="hidden" name="user_id" value="{{request.user.id}}">
            {% endif %}
            <div class="col-12 form-group">
                <textarea placeholder="Write your comments ..." class="textarea form-control" name="message" rows="4"
                    cols="20" data-error="Message field is required" required></textarea>
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-12 form-group RL_layer">
                <a href="#" class="btn item-btn cancel-comment">取消回复</a>
                <button class="item-btn" id="submit">发表评论</button>
            </div>
        </div>
        <div class="form-response"></div>
    </form>
</div>
{% endif %}