.bg-primary {
    background: #004deb!important;
    color: #fff!important
}

.bg-primary-bright {
    background: rgba(0,77,235,.3)!important
}

.bg-primary-bright.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-primary-bright.bg-hover:hover {
    background: rgba(0,67,225,.3)!important
}

.bg-primary-gradient {
    background: -webkit-linear-gradient(220deg,#004deb,#2875ff)!important;
    background: -moz- oldlinear-gradient(220deg,#004deb,#2875ff)!important;
    background: -o-linear-gradient(220deg,#004deb,#2875ff)!important;
    background: linear-gradient(230deg,#004deb,#2875ff)!important;
    color: #fff!important
}

.bg-info {
    background: #22b9ff!important;
    color: #fff!important
}

.bg-info.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-info.bg-hover:hover {
    background: #36cdff!important
}

.bg-info-bright {
    background: rgba(34,185,255,.3)!important
}

.bg-info-bright.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-info-bright.bg-hover:hover {
    background: rgba(24,175,245,.3)!important
}

.bg-info-gradient {
    background: -webkit-linear-gradient(220deg,#22b9ff,#4ae1ff)!important;
    background: -moz- oldlinear-gradient(220deg,#22b9ff,#4ae1ff)!important;
    background: -o-linear-gradient(220deg,#22b9ff,#4ae1ff)!important;
    background: linear-gradient(230deg,#22b9ff,#4ae1ff)!important;
    color: #fff!important
}

.bg-secondary {
    background: #64737a!important;
    color: #fff!important
}

.bg-secondary.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-secondary.bg-hover:hover {
    background: #78878e!important
}

.bg-secondary-bright {
    background: rgba(100,115,122,.3)!important
}

.bg-secondary-bright.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-secondary-bright.bg-hover:hover {
    background: rgba(90,105,112,.3)!important
}

.bg-secondary-gradient {
    background: -webkit-linear-gradient(220deg,#64737a,#8c9ba2)!important;
    background: -moz- oldlinear-gradient(220deg,#64737a,#8c9ba2)!important;
    background: -o-linear-gradient(220deg,#64737a,#8c9ba2)!important;
    background: linear-gradient(230deg,#64737a,#8c9ba2)!important;
    color: #fff!important
}

.bg-success {
    background: #10b759!important;
    color: #fff!important
}

.bg-success.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-success.bg-hover:hover {
    background: #24cb6d!important
}

.bg-success-bright {
    background: rgba(16,183,89,.3)!important
}

.bg-success-bright.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-success-bright.bg-hover:hover {
    background: rgba(6,173,79,.3)!important
}

.bg-success-gradient {
    background: -webkit-linear-gradient(220deg,#10b759,#38df81)!important;
    background: -moz- oldlinear-gradient(220deg,#10b759,#38df81)!important;
    background: -o-linear-gradient(220deg,#10b759,#38df81)!important;
    background: linear-gradient(230deg,#10b759,#38df81)!important;
    color: #fff!important
}

.bg-danger {
    background: #ff3f3f!important;
    color: #fff!important
}

.bg-danger.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-danger.bg-hover:hover {
    background: #ff5353!important
}

.bg-danger-bright {
    background: rgba(255,63,63,.3)!important
}

.bg-danger-bright.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-danger-bright.bg-hover:hover {
    background: rgba(245,53,53,.3)!important
}

.bg-danger-gradient {
    background: -webkit-linear-gradient(220deg,#ff3f3f,#ff6767)!important;
    background: -moz- oldlinear-gradient(220deg,#ff3f3f,#ff6767)!important;
    background: -o-linear-gradient(220deg,#ff3f3f,#ff6767)!important;
    background: linear-gradient(230deg,#ff3f3f,#ff6767)!important;
    color: #fff!important
}

.bg-danger-light {
    background: #ffd5d5!important
}

.bg-warning {
    background: #ffb822!important;
    color: #fff!important
}

.bg-warning.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-warning.bg-hover:hover {
    background: #ffcc36!important
}

.bg-warning-bright {
    background: rgba(255,184,34,.3)!important
}

.bg-warning-bright.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-warning-bright.bg-hover:hover {
    background: rgba(245,174,24,.3)!important
}

.bg-warning-gradient {
    background: -webkit-linear-gradient(220deg,#ffb822,#ffe04a)!important;
    background: -moz- oldlinear-gradient(220deg,#ffb822,#ffe04a)!important;
    background: -o-linear-gradient(220deg,#ffb822,#ffe04a)!important;
    background: linear-gradient(230deg,#ffb822,#ffe04a)!important;
    color: #fff!important
}

.bg-light {
    background: #afb8bd!important
}

.bg-dark {
    background: #293134!important;
    color: #fff!important
}

.bg-dark.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-dark.bg-hover:hover {
    background: #3d4548!important
}

.bg-dark-bright {
    background: #d4d5d8!important
}

.bg-dark-bright.bg-hover {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s
}

.bg-dark-bright.bg-hover:hover {
    background: #cacbce!important
}

.bg-dark-gradient {
    background: -webkit-linear-gradient(220deg,#293134,#474f52)!important;
    background: -moz- oldlinear-gradient(220deg,#293134,#474f52)!important;
    background: -o-linear-gradient(220deg,#293134,#474f52)!important;
    background: linear-gradient(230deg,#293134,#474f52)!important;
    color: #fff!important
}

.bg-facebook {
    background: #3b5998!important;
    color: #fff!important
}

.bg-twitter {
    background: #55acee!important;
    color: #fff!important
}

.bg-linkedin {
    background: #0077b5!important;
    color: #fff!important
}

.bg-whatsapp {
    background: #43d854!important;
    color: #fff!important
}

.bg-instagram {
    background: #3f729b!important;
    color: #fff!important
}

.bg-dribbble {
    background: #ea4c89!important;
    color: #fff!important
}

.bg-google {
    background: #db4437!important;
    color: #fff!important
}

.bg-youtube {
    background: #cd201f!important;
    color: #fff!important
}