* {
  box-sizing: border-box;
}
:root {
  --bg: #1a1a1a;
  --min-size: 200px;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background: var(--bg);
}
.drag-proxy {
  visibility: hidden;
  position: absolute;
}

.gallery-info {
  height: 30px;
  position: fixed;
  top: 5rem;
  left: 0rem;
  color: #e6e6e6;
}
.gallery-info li {
  display: block;
}
.gallery-info .title {
  font-size: 32px;
  font-weight: 600;
}
.export{
  position: fixed;
  bottom: 25%;
  left: 48%;
}

.export a{
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 5px;
}


.scroll-icon {
  height: 30px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: #e6e6e6;
  -webkit-animation: action 4s infinite;
          animation: action 4s infinite;
}
.boxes {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 800px;
  touch-action: none;
}
.box {
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vmin;
  width: 20vmin;
  min-height: var(--min-size);
  min-width: var(--min-size);
  display: none;
}
.box:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-image: var(--src);
  background-size: cover;
  transform: translate(-50%, -50%) rotate(180deg) translate(0, -100%) translate(0, -0.5vmin);
  opacity: 0.75;
}
.box:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--bg) 50%, transparent);
  transform: translate(-50%, -50%) rotate(180deg) translate(0, -100%) translate(0, -0.5vmin) scale(1.01);
  z-index: 2;
}
.box img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.box:nth-of-type(odd) {
  background: #b3f075;
}
.box:nth-of-type(even) {
  background: #66b814;
}
@supports (-webkit-box-reflect: below) {
  .box {
    -webkit-box-reflect: below 0.5vmin linear-gradient(transparent 0 50%, #fff 100%);
  }
  .box:after,
  .box:before {
    display: none;
  }
}
@-webkit-keyframes action {
  0%, 25%, 50%, 100% {
    transform: translate(0, 0);
  }
  12.5%, 37.5% {
    transform: translate(0, 25%);
  }
}
@keyframes action {
  0%, 25%, 50%, 100% {
    transform: translate(0, 0);
  }
  12.5%, 37.5% {
    transform: translate(0, 25%);
  }
}