{% extends 'base.html' %}
{% load static %}


{% block home %}
<h2 class="title">浩瀚星海</h2>
<h4 style="color: white;">相册</h4>
{% endblock home %}


{% block content %}
{% if page_obj %}
<div>
  <div class="my-gallery">
    {% for gallery in page_obj %}
    {% with gallery_title=gallery.title %}
    <div class="box" style="background-color: floralwhite;">
      <a href="{% url 'app_gallery:gallery_detail' gallery.pk gallery.slug %}?before={{request.get_full_path}}">
        <img src="{{ gallery.thumb.url }}" class="responsive-img dpg-album-image" title="{{gallery_title}}" />
      </a>
      <div>
        <span>{{ gallery_title|truncatechars:7}}{% if gallery_title|length > 7 %}...{% endif %}</span>
        <span style="float: right;">{{gallery.photos.count}}张</span>
        <p style="margin: 0;">{{ gallery.mod_date |date:"Y-m-j H:i:s" }}</p>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
  </div>

  <div>
    {# 页码 #}
    {% include 'pagination.html' with page_obj=page_obj %}
  </div>
</div>
{% else %}
  <p>No gallery yet</p>
{% endif %}
{% endblock %}

{% block css_style %}
<style>
  .box {
    display: inline-block;
    /* div 水平排列 */
    border: 0px;
    margin: 10px;
    width: 200px;
    height: 250px;
    margin-bottom: 100px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
{% endblock %}