
{% extends 'tp/组件/base.html' %}

{% block container %}
<section class="error-page-wrap">
    <div class="container">
        <div class="error-page-box">
            <div class="error-code">
                <span class="error-page-item font-weight-bold">5</span>
                <span class="error-page-item font-weight-bold">0</span>
                <span class="error-page-item font-weight-bold">0</span>
            </div>
            <h2 class="error-title">出了点小状况，可能是我做错了一些事情，但现在我知道了它，我会尝试修复它! YSML</h2>
            <div class="error-newsletter">
                <form action="{% url 'app_blog:haystack_search' %}" method="GET">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" name="q" placeholder="搜索 . . .">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="flaticon-magnifying-glass" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <a href="/" class="item-btn">返回首页</a>
        </div>
    </div>
</section>
{% endblock container %}

