{# 文章列表 #}


{% extends 'app_blog/base_blog.html' %}
{% load blog_tags %}
{% load humanize %}

{% block title %}浩瀚星海{% endblock title %}

{% block blog_content_main %}
{% if page_type %}
<h4>{{ page_type }}: {{tag_name}}</h4>
<p>共 {{ page_obj.paginator.count }} 篇 </p>
{% elif keyword %}
<p>搜索到 {{ page_obj.paginator.count }} 条记录。</p>
{% else %}
<h4>所有文章</h4>
<p>博客共有 {{ page_obj.paginator.count }} 篇 </p>
{% endif %}


{% for article in page_obj %}

<article id="post-{{article.id}}" 
    class="post-{{article.id}} post type-post status-publish format-standard hentry">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{article.get_absolute_url}}" rel="bookmark">{{article.title}}</a>
        </h1>
        发表日期 : {% format_time article.pub_time "%Y-%m-%d %H:%M" %}<br>
        {{article.pub_time | naturaltime }}<br>
        <div class="comments-link">
            <a href="{{article.get_absolute_url}}#comments" class="ds-thread-count" 
                data-thread-key="3815" rel="nofollow">
                <span class="leave-reply">
                    发表评论
                </span>
            </a>
            <div style="float:right">
                {{article.users_like.count}} likes | {{ article.views }} views
            </div>
        </div>
        <br>
    </header>
    <div class="entry-content" itemprop="articleBody">
        <p>
            {% comment %} {{ article.body|truncatewords:10|linebreaks }} {% endcomment %}
            {% comment %} {{ article.body|markdown:10|linebreaks }} {% endcomment %}
            {{ article.body|custom_markdown|truncatewords_html:20 }}
        </p>
        <p class="read-more">
            <a href="{{article.get_absolute_url}}">
                Read more
            </a>
        </p>
    </div>
    <footer class="entry-meta">
        本条目发布于
        <a href="/article/2021/1/27/6.html" title="{% format_time article.pub_time " %Y-%m-%d" %}"
            itemprop="datePublished" content="{% format_time article.pub_time " %Y-%m-%d" %}" rel="bookmark">
            <time class="entry-date updated" datetime="{% format_time article.pub_time " %Y-%m-%d %H:%M" %}">
                {% format_time article.pub_time "%Y-%m-%d %H:%M" %}
            </time>
        </a>
        。属于
        <a href="{% url 'app_blog:category_detail' article.category.slug %}" rel="category tag">
            {{ article.category }}
        </a>
        分类，
        {% with article.tags.all as tags%}
        {% if tags %}
        被贴了:
        {% for tag in tags %}
        <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}">
            {{ tag.name }}</a>
        {% if not forloop.last %} , {% endif %}
        {% endfor %}
        标签,
        {% endif %}
        {% endwith %}
        <span class="by-author">作者是
            <span class="author vcard">
                <a class="url fn n" href="{% url 'app_blog:article_list_by_author' article.author %}"
                    title="查看所有由{{article.author}}发布的文章" rel="author">
                    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                        <span itemprop="name">
                            {{article.author}}
                        </span>
                    </span>
                </a>
            </span>。
            {% if request.user == article.author or request.user.is_superuser %}
            <a href="{% url 'app_admin:update_article' article.id article.slug %}">修改✎</a>
            <a href="{{ article.get_admin_url }}">admin中编辑</a>
            {% endif %}
        </span>
    </footer>
</article>

{% endfor %}

{# 从 paginator.html 引入分页模板 #}
{% include 'pagination.html' with page_obj=page_obj %}

{% endblock blog_content_main %}