{# 文章详情 #}
{% extends 'app_blog/base_blog.html' %}
{% load static %}
{% load blog_tags %}


{% block title %}
{{ article.title }}
{% endblock title %}

{% block blog_content_main %}
{% load_breadcrumb article %}
<h1> {{ article.title }} </h1>
<p class='date'>
    本条目发布于 {{ article.pub_time | date:"Y-m-j" }} 浏览{{ article.views }}次。
    作者是 : <a href="{% url 'app_blog:article_list_by_author' article.author %}"> {{ article.author }}</a><br>
    {% with article.tags.all as tages %}
    {% if tages %}
    <span class='tags'>
        标签:
        {% for tag in tages %}
        <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %} , {% endif %}
        {% endfor %}
    </span><br>
    {% endif %}
    {% endwith %}
    {% with total_likes=article.users_like.count users_like=article.users_like.all %}
    <a href="#" data-id="{{ article.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like">
        <span id="count">👍 {{ total_likes }}</span>
    </a>
    {% endwith %}
    </br>
    {% if request.user == article.author or request.user.is_superuser %}
    <a href="{% url 'app_admin:update_article' article.id article.slug %}">修改✎</a>
    <a href="{{ article.get_admin_url }}">admin中编辑</a>
    {% endif %}
</p>

{% comment %} {{ article.body| linebreaks }} {% endcomment %}
{% comment %} {{ article.body|markdown}}{% endcomment %}
{{ article.body|custom_markdown}}

<p><a href="{% url 'app_blog:article_share' article.id %}"> 分享文章 </a></p>


<div>
    {# with 标签可以将某个值赋予到新的变量中,对于避免数据库访问或者多次访问开销交的的方法十分有用 #}
    {% with comments.count as total_comments %}
    <h2> {{ total_comments }} 条评论 </h2>
    {% if total_comments != 0 %}
    <div class="commentlist">
        {% query comments parent_comment=None as parent_comments %}
        {% for comment_item in parent_comments %}
            {% with 0 as depth %}
                {% include "app_comments/comment_item_tree.html" with obj=article %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>


{% if article.comment_status == "o" %}
<h4 id="comments">添加评论 </h4>
<div id='respond'>
    {% if request.user.is_authenticated %}
        {% include "app_comments/post_comment.html" with obj=article form=comment_form %}
    {% else %}
    <p>您还没有登录，请您登<a href="{% url 'app_user:login' %}?next={{ article.get_absolute_url }}">登录</a>后发表评论。</p>
    {% endif %}
</div>
{% else %}
文章关闭了评论
{% endif %}

<button id="btn1">点击发送ajax</button>
<p id="pp1"></p>

{% endblock blog_content_main %}


{% block javascript %}
<script src="{% static 'js/jquery.cookie_1.4.1.min.js' %}"></script>
<script>

    function do_reply(parentid, username) {
        $('#id_parent_comment').val(parentid);
        $('#cancel_comment').show();
        $("#commentform").appendTo($("#comment-content-" + parentid));
    }
    
    function cancel_reply() {
        $('#id_parent_comment').val('');
        $('#comments').text('添加评论');
        $('#cancel_comment').hide();
        $("#commentform").appendTo($("#respond"));
    }

    function delete_comment(comment_id, obj_id){
        $.ajax({
            url: '{% url "app_comments:ajax_delete_comment" %}',
            data: {
                'comment_id':comment_id,
                'obj_id':obj_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data['status']==200){
                    $(`#div-comment-${comment_id}`).remove();
                    console.log('删除成功!')
                }
            }
        });
    }



    // 按钮点击异步请求
    $('#btn1').on('click', function () {
        $.ajax({
            url: '{% url "app_blog:ajax_app_test" %}',
            data: {
                'keyword': `发送: ${Math.random()}`
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#pp1").text("返回结果是: " + data.count)
            }
        });
    });

    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        $('a.like').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var action = $(this).data('action');

            $.ajax({
                url: '{% url "app_blog:blog_like" %}',
                data: {
                    'id': id,
                    'action': action,
                },
                type: 'POST',
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (data) {
                    if (data['status'] == 'ok') {
                        var previous_action = $('a.like').data('action');

                        // 变换动作
                        $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                        // 变换链接对应文本
                        // $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                        // 更新总点赞数
                        // var previous_likes = parseInt($('span.count').text());
                        // $('span.count').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                        $('span#count').text('👍 ' + data['count']);
                    }
                    else {
                        window.location.href = "{% url 'app_user:login' %}?next={{ article.get_absolute_url }}"
                    }
                },
            });
        });
    });

</script>
{% endblock javascript %}