{#   文章列表   #}


{% extends 'app_blog/base_blog.html' %}
{% load  blog_tags %}
{% load humanize %} 

{% block title %}浩瀚星海{% endblock title %}

{% block content %}
    {% if name %}
    <h1>{{ name }} 的所有文章</h1>
    <p>共 {{ page_obj.paginator.count }} 篇 </p>
    {% elif tag %}
    <h1>{{ tag.name }} 标签下的所有文章</h1>
    <p>共 {{ page_obj.paginator.count }} 篇 </p>
    {% else %}
    {% if keyword %}
    <p>搜索到 {{ page_obj.paginator.count }} 条记录。</p>
    {% else %}
    <p>博客共有 {{ page_obj.paginator.count }} 篇 </p>
    {% endif %}
    {% endif %}

    {% if form %}
    <div style="margin-bottom: 2.5rem;">
        <form method="get" action="" class="form-inline">
            <input id="search" type="text" name="keyword" value="{{keyword|default_if_none:''}}" placeholder="搜索">
            <input type="submit" value="Search" />
        </form>
        <div id="result"></div>
    </div>
    {% endif %}



    {% for article in page_obj %}
        <h4>
            <a href="{{article.get_absolute_url}}"> {{ article.title }} </a>
        </h4>
        <p class='date'>
            作者 : <a href="{% url 'app_blog:article_list_by_author' article.author %}"> {{ article.author }}</a><br>
            发表日期 : {{ article.publish }}<br>
            {% format_time article.publish "%Y-%m-%d %H:%M" %}<br>
            {{article.publish | naturaltime }}<br>

            阅读量 : {{ article.views }}
            分组 : <a href="{% url 'app_blog:category_detail' article.category.slug %}"> {{ article.category }}</a> 

            {% with article.tags.all as tags%}
                {% if tags %}
                <span class='tags'>
                    标签:
                    {% for tag in tags %}
                        <a href="{% url 'app_blog:article_list_by_tag' tag.slug %}">
                            {{ tag.name }}</a>
                        {% if not forloop.last %} , {% endif %}
                    {% endfor %}
                </span>
            {% endif %}
            {% endwith %}

        </p>
        {% comment %} {{ article.body|truncatewords:10|linebreaks }} {% endcomment %}
        {{ article.body|markdown|truncatewords_html:30 }}
    {% endfor %}

    {# 从 paginator.html 引入分页模板  #}
    {% include 'pagination.html' with page_obj=page_obj %}

{% endblock content %}

{% block javascript %}
<script>
    $("#id_keyword").bind('input propertychange', function () {
        var keyword = $(this).val();
        $.ajax({
            url: '/ajax/search/',
            data: {
                'keyword': keyword
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#result").html("<p>正在实时查询...共" + data.count + "条记录</p>")
            },

        });
    });
</script>
{% endblock %}