{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load cache %}


{% block content %}

<div class="content-main">
    {% block blog_content_main %}
    {% endblock blog_content_main %}
</div>
<div class="content-sidebar">

    {% block blog_content_sidebar %}

    {% if form %}
    <div style="margin-bottom: 2.5rem;">
        <form method="get" action="" class="form-inline">
            <input id="search" type="text" name="keyword" value="{{keyword|default_if_none:''}}" placeholder="搜索">
            <input type="submit" value="搜索" />
        </form>
        <div id="result"></div>
    </div>
    {% endif %}

    <p><a href="{% url 'app_blog:article_feed' %}">订阅博客</a></p>
    <h6> 最近更新 </h6>
    {% show_latest_articles 5 %}

    {% cache 500 monthly_archive %}
    <h6>归档</h6>
    {% show_monthly_archive %}
    {% endcache %}

    <h6>最多评论文章</h6>
    {% get_most_commented_articles as most_commented_articles %}
    <ul>
        {% for article in most_commented_articles %}
        <li>
            <a href="{{ article.get_absolute_url }}"> {{ article.title }} </a>
        </li>
        {% endfor %}
    </ul>
    <div id="rocket" class="move" title="点我返回顶部"></div>

    {% endblock blog_content_sidebar %}

</div>

{% endblock content %}


{% block javascript %}
<script>
    $("#search").bind('input propertychange', function () {
        var keyword = $(this).val();
        $.ajax({
            url: '/ajax/search/',
            data: {
                'keyword': keyword
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $("#result").html("<p>正在查询...共" + data.count + "条记录</p>")
            },
        });
    });
</script>
{% endblock javascript %}