{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load cache %}


{% block content %}

<div class="content-main">
    {% block blog_content_main %}
    {% endblock blog_content_main %}
</div>
<div class="content-sidebar">

    {% block blog_content_sidebar %}

    <div style="padding: 50px;">
        {% if form %}
        <div style="margin-bottom: 2.5rem;">
            <form method="get" action="" class="form-inline">
                <input id="search" type="text" name="q" value="{{keyword|default_if_none:''}}" placeholder="搜索">
                <input type="submit" value="搜索"/>
            </form>
        </div>
        {% endif %}
    
        <p><a href="{% url 'app_blog:article_feed' %}">订阅博客</a></p>
        <p><a href="{% url 'app_blog:refresh' %}">刷新缓存</a></p>

        <!-- 相似文章 -->
        {% similar_articles article %}
        <!-- 最近更新 -->
        {% show_latest_articles 5 %}
        <!-- 最多评论文章 -->
        {% most_commented_articles %}
        {% cache 500 monthly_archive %}
        <!-- 归档 -->
        {% article_archives %}
        {% endcache %}


    </div>

    {% endblock blog_content_sidebar %}

</div>

{% endblock content %}

