{% extends "base.html" %}


{% block content %}

<p>类别:
    {% if category.parent_category %}
    <a href="{% url 'app_blog:category_detail' category.parent_category.slug %}">{{ category.parent_category.name }}</a> /
    {% endif %}
    <a href="{% url 'app_blog:category_detail' category.slug %}">{{ category }}</a>  {# 当前 #}
</p>


<h3>博客文章清单</h3>
{% if page_obj %}
<ul>
    {% for article in page_obj %}
    <li><a href="{{article.get_absolute_url}}"> {{ article.title }}</a> {{ article.publish | date:"Y-m-j" }}</li>
    {% endfor %}
</ul>

{% if is_paginated %}
{# 从 paginator.html 引入分页模板  #}
{% include 'pagination.html' with page_obj=page_obj %}
{% endif %}

{% else %}
<p>No article yet.</p>
{% endif %}

{% endblock %}