{% load blog_tags %}
{% load humanize %} 

<div class="comment " style="margin-left: {% widthratio depth 1 3 %}rem" id="div-comment-{{ comment_item.pk }}">
    <div class="row">
        <div>
            <img src="{{ comment_item.author.profile.photo.url }}" alt="user_image" class="img-responsive">
        </div>
        <div class="comment-content col-md-10" id="comment-content-{{ comment_item.pk }}">
            <p>{{ comment_item.body |escape|custom_markdown }}</p>
            <div class="comment_footer small mute">
                <span>By&nbsp;&nbsp;
                    {% with comment_item.author as user %}
                    {% if obj.author == user %}
                        <span class="badge badge-success">&nbsp;作者</span>
                    {% else %}
                    {{ user }}
                    {% endif %}
                    {% endwith %}
                </span>
                &nbsp;&nbsp;&nbsp;On&nbsp;&nbsp;
                <em>{{ comment_item.created|naturaltime }}</em>&nbsp;&nbsp;
                <a class="text-info" rel="nofollow" href="javascript:void(0)" 
                    onclick="do_reply({{ comment_item.pk }}, '{{ comment_item.author.username }}')">
                    回复
                </a>&nbsp;&nbsp;
                {% if request.user.is_superuser %}
                <a href="javascript:void(0)" title="删除评论" onclick="delete_comment({{comment_item.pk }}, {{obj.id}})">🗑</a>
                {% endif %}
            </div>
            <br>
        </div>
    </div>
</div>

{% query comments parent_comment=comment_item as cc_comments %}
{% for cc in cc_comments %}
{% with comment_item=cc template_name="app_comments/comment_item_tree.html" %}
{% with depth=depth|add:1 %}
{% include template_name %}
{% endwith %}
{% endwith %}
{% endfor %}