{% extends 'app_blog/base_blog.html' %}
{% load static %}


{% block css_style %}
<style>
    .formwrapper {
        margin-top: 10%;
        padding: 20px 50px 20px 60px;
        background-color: #fff;
        /* -webkit-box-shadow: #666 0px 0px 10px; */
        /* -moz-box-shadow: #666 0px 0px 10px; */
        box-shadow: #666 0px 0px 10px;
        /* padding: 100px; */
    }
</style>
{% endblock %}


{% block blog_content_main %}
<div class="formwrapper">
    <h5>Reset password</h5>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <label for="email" style="color: red;padding-left: 5px;" id="err_info">{{msg|safe}}</label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <input type="text" name="email" class="form-control" placeholder="请输入注册邮箱" id="email" required
                    autofocus>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-primary" id="send_email_vcode"
                    onclick="getCode(this)">发送验证码</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" name="vcode" class="form-control" placeholder="请输入验证码" required autofocus>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" name="password" class="form-control" placeholder="请输入新密码" required autofocus>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" name="confirm_password" class="form-control" placeholder="确认密码" required autofocus>
            </div>
        </div>
        <button class="btn btn-primary btn-block">提交</button>
        <hr>
        <p class="text-muted">Take a different action.</p>
        <a href="{% url 'app_user:register' %}" class="btn btn-sm btn-outline-light mr-1">去注册!</a>
        or
        <a href="{% url 'app_user:login' %}" class="btn btn-sm btn-outline-light ml-1">登录!</a>
    </form>

</div>
{% endblock %}


{% block script %}
<script>

    $.ajaxSetup({
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    let btn = $("#send_email_vcode"),
        $err_info_ele = $('#err_info');
    // 发送验证码倒计时60s
    function getCode(e) {
        email = document.getElementById("email");
        if (email.value.length == 0) {
            $err_info_ele.text("请输入电子邮箱");
        } else {
            if (!(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email.value))) {
                $err_info_ele.text("电子邮箱有误，请重填")
            } else {
                //调用获取验证码的接口
                $.post("{% url 'app_user:send_email_vcode' %}", { 'email': email.value }, function (r) {
                    if (r.status) {
                        $err_info_ele.text("验证码发送成功，请查收！");
                    } else {
                        $err_info_ele.text(r.data)
                    }
                });
                //按照指定的周期（以毫秒计）来调用函数或计算表达式。
                //在ajax请求之后再调用函数
                t = setInterval(function () {
                    countdown(e)
                }, 1000)
                //获取验证码成功后调用倒计时函数
                countdown(e);
            }
        }
    }
    var time = 60;
    function countdown(e) {
        if (time == 0) {
            //这里时设置当时间到0的时候重新设置点击事件，并且默认time修改为60
            //e.setAttribute("onclick","getcode(this)");

            btn.attr("disabled", false);
            btn.html("获取验证码");
            btn.removeClass("disabled");
            btn.removeClass("layui-btn-disabled")
            time = 60;
            clearInterval(t);
        } else {
            //这里是显示时间倒计时的时候点击不生效
            //e.setAttribute("onclick", '');

            btn.addClass("disabled");
            btn.attr("disabled", true);
            btn.html("重新发送(" + time + ")");

            //document.getElementById("getcode").innerHTML="重新发送"+time;
            time--;
        }
    }


</script>
{% endblock %}