
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Login <span style="font-size: 10px;">{% if request.GET.next %}该页面需要登录才能查看{% endif %}</span></h1>

<div class="form-wrapper">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fieldWrapper">
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <td class="errorlist">{{ error|escape }}</td>
                    {% endfor %}
                    {% endif %}
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>{{ form.check_code.label_tag }}</td>
                    <td>{{ form.check_code }}</td>
                    <td><img src="{% url 'app_user:check_code' %}" onclick="ChangeCode(this);"></td>
                </tr>
            </table>
        </div>

        <div class="button-wrapper submit">
            {% if message %}
                <p style="color: rgb(242, 58, 105);">{{ message }}</p>
            {% endif %}
            <input type="submit" value="Login"/>
            <a style="margin: 16px;" href="{% url 'app_user:register' %}">还没有账号? 去注册➡️</a>
            <a style="margin: 16px;" href="{% url 'app_user:forget_pwd' %}">忘记密码?</a>
        </div>
    </form>

</div>

<script>
    // 点击一次,更改图片内容,
    function ChangeCode(ths){
        ths.src = ths.src + '?';
    }
</script>

{% endblock %}